In [64]:
import sys
sys.path.append('.')
import re
import pandas as pd
from src.extraction

ImportError: cannot import name 'get_episode' from 'src.extraction' (C:\Users\34603\Desktop\IronhackProjects\4-Project_sentiment_analysis\src\extraction.py)

# Import data from "episode data source"

In [55]:
#converting txt into dataframe

def get_episode (path, episode):
    contenu = open(path, "r")
    script = contenu.read()
    my_serie = re.split(r"\n\n([A-Z]+ ?[A-Z]+)\n", script)
    list_name=[]
    for i in range(1,len(my_serie),2):
        dic={}
        dic['name']=my_serie[i]
        dic['text']=my_serie[i+1]
        list_name.append(dic)
        
    df = pd.DataFrame(list_name)
    df["episode"] = episode
    return df

In [65]:
#testing "get episode" function
df = get_episode ("season1/1.txt", "1")
df.sample()

     name                                               text episode
70  SARAH  No! (cries) Ohhh! Noooo!\n\n\n\nCUT TO:\n\nINT...       1

In [22]:
frames=[]
for i in range(1,9):
    episode_df = get_episode("season1/"+str(i)+".txt", i)
    frames.append(episode_df)

# Getting the data set

In [23]:
# Concatenating the individual frames into one dataframe
result = pd.concat(frames)

In [24]:
result.sample(5)

,name,text,episode
236,JANEK,"Yes, Horne's Department Store downtown.",2
17,BENJAMIN,"Am I right, am I right. Hmm.",3
199,SHERIFF TRUMAN,"Thanks.\n\nTRUMAN pats COOPERâ€™S arm, puts hi...",7
161,ALBERT,Sounds like you've been snacking on some of th...,4
22,BENJAMIN,Leland's daughter was murdered and the Norwegi...,3

In [25]:
#testing the content of previous results
test = result["text"].iloc[0]
test

"Welcome to Twin Peaks. My name is Margaret Lantermen. I live in Twin Peaks. I am known as the log lady. There is a story behind that. There are many stories in Twin Peaks. Some of them are sad, some funny. Some are stories of madness, of violence. Some are ordinary. Yet they all have about them a sense of mystery. The mystery of life, sometimes the mystery of death. The mystery of the woods, the woods surrounding Twin Peaks. To introduce this story let me just say it encompasses the all. It is beyond the fire. Though few would know that meaning. It is a story of many but it begins with one and I knew her. The one leading to the many is Laura Palmer. Laura is the one.\n\nFADE OUT:\n\n\n\n\nINTRO:\n\n\n\n\nFADE IN:\n\nTUNE: TWIN PEAKS THEME   \n\nCREDITS run with the scenes of a bird in a tree, the mill machinery at work, the road into town with the welcome sign, the hotel by the falls and the river.\n\nTUNE ENDS: TWIN PEAKS THEME   \n\nFADE OUT:\n\n\n\n\nFADE IN:\n\nEXT. LAKESHORE BY THE BLUE PINE LODGE - DAY\n\nDawn breaks over the lake with the sounds of birds and a distant foghorn. Ducks can be seen on the lake.\n\n\n\n\nCUT TO:\n\nTUNE: LAURA PALMER'S THEME    \n\nINT. BLUE PINE LODGE - DAY\n\nWe FOCUS on a black porcelain figure of two dogs. We PAN to a nearby mirror and see JOSIE PACKARD, a beautiful Asian woman, in the reflection. Dressed in a pink robe, she is humming as she applies her makeup.\n\n\n\n\nCUT TO:\n\nINT. BLUE PINE LODGE - DAY\n\nCATHERINE MARTELL, a stout woman with curly red hair, is sipping coffee in the kitchen as her husband PETE MARTELL, wearing a hat and tugging fishing gear, walks in. PETE walks up to CATHERINE, kisses his palm and pats her on the cheek. She gives no response. In a dour voice he says ..."

In [26]:
result.loc[0]["text"]

0    Welcome to Twin Peaks. My name is Margaret Lan...
0    I carry a log ... yes. Is it funny to you? It ...
0    Sometime ideas, like men, jump up and say hell...
0    There is a sadness in this world, for we are i...
0    Even the ones who laugh are sometimes caught w...
0    I play my part on my stage. I tell what I can ...
0    Beauty is in the eye of the beholder. Yet ther...
0    A drunken man walks in a way that is quite imp...
Name: text, dtype: object

In [28]:
#cleaning data set

def replace_x(old,new):
    return result["text"].apply(lambda x: str(x).replace(old,new))

In [29]:
# removing the line breaks(\n), double quotes and percentage symbol, not to break esecuele 

result["text"] = replace_x("\n","")
result["text"] = replace_x('"',"`")
result["text"] = replace_x("%","")

In [47]:
#testing text sample to make sure that the replacement was done correctly
result["text"].iloc[11]

"Lucy, not a word about this to anyone until you've heard from me.CUT TO:EXT. TWIN PEAKS SHERIFF'S DEPARTMENT - DAYSHERIFF TRUMAN walks out of the department building and enters his patrol cruiser. He starts it up, turns on the police lights and siren then takes off.CUT TO:EXT. LAKESHORE BY THE BLUE PINE LODGE - DAYTUNE: LAURA PALMER'S THEME    PETE leads SHERIFF TRUMAN, DR. WILL HAYWARD and DEPUTY ANDY BRENNAN, carrying a camera, to the body wrapped in plastic."

In [48]:
#adding the season column to my dataset ( only using the data from 1 season)
result["season"] = 1

# Exporting my data set to CSV

In [49]:
result.to_csv("twin_peaks_df.csv", index = False)