In [1]:
import pandas as pd
import sqlalchemy as alch
from getpass import getpass
import re

In [2]:
df = pd.read_csv("twin_peaks_df.csv")
df

          name                                               text  episode
0     LOG LADY  Sometime ideas, like men, jump up and say hell...        1
1        JERRY      No, no, no, not in my room, in here, IN HERE!        1
2     BENJAMIN  Jerry, back from Paris.\n\nJERRY is followed b...        1
3        JERRY  Ben, what a nightmare.\n\nJERRY shakes his hea...        1
4        JERRY  Right THERE, no, no, right there! What is with...        1
...        ...                                                ...      ...
2675    LELAND  Somebody dance with me. (sobs)\n\nCOOPER and H...        8
2676    COOPER                                        Mr. Palmer?        8
2677      HAWK  Leland.\n\nLELAND straightens up and puts his ...        8
2678    COOPER                                Lets take you home.        8
2679    LELAND  Home. Home. Home.\n\nTUNE: LOVE THEME FROM TWI...        8

[2680 rows x 3 columns]

In [3]:
password = getpass("Insert your password here: ")

Insert your password here: ········

In [4]:
dbName = "twin_peaks"

In [5]:
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [6]:
engine = alch.create_engine(connectionData)