# Loading data into MySQL

In [10]:
import pandas as pd
import sqlalchemy as sqlalc
from getpass import getpass
import re
from sqlalchemy import exc

In [11]:
#reading from my extracted CSV
df = pd.read_csv("twin_peaks_df.csv")
df.sample(6)

,name,text,episode,season
2608,BIG ED,"Uhm, Iâ€™m an oral surgeon.",7,1
2204,JAMES,"This is really great.We watch JAMES, DONNA and...",6,1
1804,COOPER,Actually its standard issue. I made a few modi...,5,1
1185,SHERIFF TRUMAN,"Can you believe this, Hawk found this half mil...",3,1
2016,JERRY,"Brother Ben, I bring you greetings from the fe...",6,1
2318,CATHERINE,Why do you have this thousand poker chip from ...,6,1

In [12]:
#testing loading script for a specific character
df.loc[df['name'] == "JAMES"].sample(5)

,name,text,episode,season
1859,JAMES,What?,5,1
996,JAMES,Me too.,3,1
958,JAMES,"That's great huckleberry pie, Mrs. Hayward.",3,1
2428,JAMES,Maybe he gets a phone call. From Laura.JAMES r...,7,1
961,JAMES,Good night.,3,1

##  Connecting to Mysql db

In [13]:
def connect_engine(password):
    dbName = "twin_peaks"
    connection_data = f"mysql+pymysql://root:{password}@localhost/{dbName}"
    engine = sqlalc.create_engine(connection_data)
    return engine

In [14]:
password = getpass("Insert your password here: ")

Insert your password here: ········

In [15]:
engine = connect_engine(password)

In [16]:
#testing MySQL connection
list(engine.execute("SELECT * FROM actor"))

[(1, 'LOG LADY'),
 (2, 'JERRY'),
 (3, 'BENJAMIN'),
 (4, 'SYLVIA'),
 (5, 'JAMES'),
 (6, 'EILEEN'),
 (7, 'DONNA'),
 (8, 'SWABBIE'),
 (9, 'BARTENDER'),
 (10, 'BLACKIE'),
 (11, 'COOPER'),
 (12, 'HAWK'),
 (13, 'NOTE'),
 (14, 'BOBBY'),
 (15, 'MIKE'),
 (16, 'LEO'),
 (17, 'NADINE'),
 (18, 'BIG ED'),
 (19, 'SHERIFF TRUMAN'),
 (20, 'ANNOUNCER'),
 (21, 'SHELLY'),
 (22, 'NORMA'),
 (23, 'ANDY'),
 (24, 'LUCY'),
 (25, 'EVERYONE'),
 (26, 'AUDREY'),
 (27, 'ALBERT'),
 (28, 'FRIEND'),
 (29, 'CATHERINE'),
 (30, 'PETE'),
 (31, 'JOSIE'),
 (32, 'SARAH'),
 (33, 'LELAND'),
 (34, 'BOB'),
 (35, 'LITTLE MAN'),
 (36, 'BEAUTIFUL WOMAN'),
 (37, 'TRUDY'),
 (38, 'JARED'),
 (39, 'MADELEINE'),
 (40, 'JADE'),
 (41, 'MOONIE'),
 (42, 'MAJOR BRIGGS'),
 (43, 'BETTY'),
 (44, 'JOHNNY'),
 (45, 'REVEREND CLARENCE'),
 (46, 'BERNARD'),
 (47, 'JACQUES'),
 (48, 'COUPLE I'),
 (49, 'COUPLE II'),
 (50, 'MAX'),
 (51, 'JULIE'),
 (52, 'HEIDI'),
 (53, 'ALICE'),
 (54, 'TERRY'),
 (55, 'MARTHA'),
 (56, 'POLICE OFFICER'),
 (57, 'MILL WORKER'),
 (58, 'ENGINEER'),
 (59, 'RONETTE'),
 (60, 'GILMAN'),
 (61, 'ELECTRONIC NOTEBOOK'),
 (62, 'SVEN'),
 (63, 'TELEVISION'),
 (64, 'CONCIERGE'),
 (65, 'NURSE'),
 (66, 'MARGARET'),
 (67, 'MAYOR'),
 (68, 'HARRIET'),
 (69, 'FEMALE SINGER'),
 (70, 'JOEY'),
 (71, 'SCOTTY'),
 (72, 'LAURA'),
 (73, 'SUBURBIS'),
 (74, 'JANEK'),
 (75, 'EMERALD'),
 (76, 'CHET'),
 (77, 'GORDON'),
 (78, 'MONTANA'),
 (79, 'HANK'),
 (80, 'RECEPTIONIST'),
 (81, 'PHOTOGRAPH'),
 (82, 'FLESHWORLD MAGAZINE'),
 (83, 'EMORY'),
 (84, 'OFFICER'),
 (85, 'GARY'),
 (86, 'SCOTT'),
 (87, 'PHOTOGRAPHS'),
 (88, 'RAVEN'),
 (89, 'SONG LYRICS'),
 (90, 'POKER CHIP'),
 (91, 'HOSTESS'),
 (92, 'HEBA'),
 (93, 'GROUP'),
 (94, 'CUSTOMER'),
 (95, 'JENNY'),
 (96, 'INSURANCE DOCUMENT'),
 (97, 'WALDO'),
 (98, 'FRED'),
 (99, 'PHONE'),
 (100, 'INTERCOM'),
 (101, 'COWORKER'),
 (102, 'OLD LADY')]

# MySQL code for creating my schema

-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema twin_peaks
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema twin_peaks
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `twin_peaks` DEFAULT CHARACTER SET utf8 ;
USE `twin_peaks` ;

-- -----------------------------------------------------
-- Table `twin_peaks`.`name`
-- -----------------------------------------------------
DROP TABLE IF EXISTS `twin_peaks`.`name` ;

CREATE TABLE IF NOT EXISTS `twin_peaks`.`name` (
  `idname` INT NOT NULL AUTO_INCREMENT,
  `name` VARCHAR(45) NULL,
  PRIMARY KEY (`idname`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `twin_peaks`.`episode`
-- -----------------------------------------------------
DROP TABLE IF EXISTS `twin_peaks`.`episode` ;

CREATE TABLE IF NOT EXISTS `twin_peaks`.`episode` (
  `idepisode` INT NOT NULL AUTO_INCREMENT,
  `number` VARCHAR(45) NOT NULL,
  `season` VARCHAR(45) NULL,
  PRIMARY KEY (`idepisode`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `twin_peaks`.`script`
-- -----------------------------------------------------
DROP TABLE IF EXISTS `twin_peaks`.`script` ;

CREATE TABLE IF NOT EXISTS `twin_peaks`.`script` (
  `idtext` INT NOT NULL AUTO_INCREMENT,
  `text` LONGTEXT NOT NULL,
  `idepisode` INT NULL,
  `idname` INT NULL,
  PRIMARY KEY (`idtext`),
  INDEX `idname_idx` (`idname` ASC) VISIBLE,
  INDEX `idepisode_idx` (`idepisode` ASC) VISIBLE,
  CONSTRAINT `idname`
    FOREIGN KEY (`idname`)
    REFERENCES `twin_peaks`.`name` (`idname`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `idepisode`
    FOREIGN KEY (`idepisode`)
    REFERENCES `twin_peaks`.`episode` (`idepisode`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;

In [17]:
def check (something, string):
    
    if something == "actor":
        query = list(engine.execute(f"SELECT name FROM actor WHERE name = '{string}';"))
        if len(query) > 0:
            return True
        else:
            return False
        
    if something == "episode":
        query = list(engine.execute(f"SELECT number FROM episode WHERE name = '{string}';"))
        if len(query) > 0:
            return True
        else:
            return False

In [18]:
def insertActor (actor_name):
    if check("actor", actor_name):
        return "It already exists"
    else:
        engine.execute(f"INSERT INTO actor (name) VALUES ('{actor_name}');")

In [19]:
def insertScript (script, idepisode, idname):
    queryString = f"insert into script (`text` , idepisode, name) VALUES ('{script}', '{idepisode}', '{idname}');"
    #print(queryString)
    engine.execute(queryString)

In [20]:
def insertEpisode (number,season):
    engine.execute(f"INSERT INTO episode (number, season) VALUES ('{number}','{season}');")

In [21]:
df.shape

(2991, 4)

In [22]:
# insert characters' names into db
for index, row in df.iterrows():
    insertActor (row["name"])

In [23]:
#checking number of episodes
episodes = df["episode"].unique()
episodes

array([1, 2, 3, 4, 5, 6, 7, 8], dtype=int64)

In [24]:
#insert episode into episode table
for i in episodes:
    insertEpisode (i ,"1")

In [25]:
#insert text for each character for each episode into script table
for index, row in df.iterrows():
    try:
        insertScript(row["text"],row["episode"],row["name"] )
        #print(row["text"])
    except exc.SQLAlchemyError as e:
        print(e)

(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME    INT. BLUE PINE LODGE - DAYWe FOCUS on a black porcelain figure of two' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Welcome to Twin Peaks. My name is Margaret Lantermen. I live in Twin Peaks. I am known as the log lady. There is a story behind that. There are many stories in Twin Peaks. Some of them are sad, some funny. Some are stories of madness, of violence. Some are ordinary. Yet they all have about them a sense of mystery. The mystery of life, sometimes the mystery of death. The mystery of the woods, the woods surrounding Twin Peaks. To introduce this story let me just say it encompasses the all. It is beyond the fire. Though few would know that meaning. It is a story of many but it begins with one and I knew her. The one leading to the many is Laura Palmer. Laura is the one.FADE OUT:INTRO:FADE IN:TUNE: TWIN PEAKS THEME   CREDITS run with the scenes of a bird in a tree, the mill machinery at work, the road into town with the welcome sign, the hotel by the falls and the river.TUNE ENDS: TWIN PEAKS THEME   FADE OUT:FADE IN:EXT. LAKESHORE BY THE BLUE PINE LODGE - DAYDawn breaks over the lake with the sounds of birds and a distant foghorn. Ducks can be seen on the lake.CUT TO:TUNE: LAURA PALMER'S THEME    INT. BLUE PINE LODGE - DAYWe FOCUS on a black porcelain figure of two dogs. We PAN to a nearby mirror and see JOSIE PACKARD, a beautiful Asian woman, in the reflection. Dressed in a pink robe, she is humming as she applies her makeup.CUT TO:INT. BLUE PINE LODGE - DAYCATHERINE MARTELL, a stout woman with curly red hair, is sipping coffee in the kitchen as her husband PETE MARTELL, wearing a hat and tugging fishing gear, walks in. PETE walks up to CATHERINE, kisses his palm and pats her on the cheek. She gives no response. In a dour voice he says ...', '1', 'LOG LADY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME    CUT TO:INT. BLUE PINE LODGE - DAYIn the kitchen, PETE is on the phone' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('A lonesome foghorn blows.He stops walking, turns to look out onto the lake and from a distance sees some plastic alongside a colossal cut tree log laying on the lakeside. He slowly walks over to the item and discovers that it is a human form wrapped in plastic.TUNE ENDS: LAURA PALMER'S THEME    CUT TO:INT. BLUE PINE LODGE - DAYIn the kitchen, PETE is on the phone and is visibly shaken.', '1', 'PETE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S DEPARTMENT - DAYSHERIFF HARRY S. TRUMAN is pouring himself a cup of coffee. LU' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Oh dear. Lucy, Lucy this is Pete Martell. Lucy put Harry on the horn.CUT TO:INT. TWIN PEAKS SHERIFF'S DEPARTMENT - DAYSHERIFF HARRY S. TRUMAN is pouring himself a cup of coffee. LUCY MORAN, in her office, tells SHERIFF TRUMAN which phone to pick up and he stands bewildered in the process.', '1', 'PETE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm going to transfer it to the phone on the table by the red chair ... the red ch' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Sheriff its Pete Martell up at the mill. I'm going to transfer it to the phone on the table by the red chair ... the red chair against the wall ... the ... the little table with the lamp on it. The lamp that we moved from the corner. The black phone not the brown phoneThe black phone rings and SHERIFF TRUMAN answers it.', '1', 'LUCY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's dead. Wrapped in plasticCUT TO:INT. TWIN PEAKS SHERIFF'S DEPARTMENT - DAY', '1' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('She's dead. Wrapped in plasticCUT TO:INT. TWIN PEAKS SHERIFF'S DEPARTMENT - DAY', '1', 'PETE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm on my way.TRUMAN hangs up the phone and walks over to LUCY.', '1', 'SHERIFF TR' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Well hold on, hold on a second Pete. Where? You stay right there I'm on my way.TRUMAN hangs up the phone and walks over to LUCY.', '1', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'd better get Dr. Hayward. Tell him to meet me up at the Packard Mill. The dock r' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('You'd better get Dr. Hayward. Tell him to meet me up at the Packard Mill. The dock right below the dam and rouse that Andy out of bed and tell him to get his butt up there now.', '1', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 've heard from me.CUT TO:EXT. TWIN PEAKS SHERIFF'S DEPARTMENT - DAYSHERIFF TRUMAN' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Lucy, not a word about this to anyone until you've heard from me.CUT TO:EXT. TWIN PEAKS SHERIFF'S DEPARTMENT - DAYSHERIFF TRUMAN walks out of the department building and enters his patrol cruiser. He starts it up, turns on the police lights and siren then takes off.CUT TO:EXT. LAKESHORE BY THE BLUE PINE LODGE - DAYTUNE: LAURA PALMER'S THEME    PETE leads SHERIFF TRUMAN, DR. WILL HAYWARD and DEPUTY ANDY BRENNAN, carrying a camera, to the body wrapped in plastic.', '1', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's been in the water.DR. HAYWARDBetter take some pictures.', '1', 'SHERIFF TRUMAN' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Naw, she's been in the water.DR. HAYWARDBetter take some pictures.', '1', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll turn her over.', '1', 'SHERIFF TRUMAN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Then we'll turn her over.', '1', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's barn.DR. HAYWARDGive me the camera Andy.', '1', 'SHERIFF TRUMAN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Come on Andy. The same thing as last year at Mr. Blodge's barn.DR. HAYWARDGive me the camera Andy.', '1', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm sorry, I'm so sorry.', '1', 'ANDY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(sobbing) I'm sorry, I'm so sorry.', '1', 'ANDY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's van and bring back that stretcher.', '1', 'SHERIFF TRUMAN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I want you to go up to the corner's van and bring back that stretcher.', '1', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's roll her over.SHERIFF TRUMAN and DR. HAYWARD roll the body over and crouch bes' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(sobbing) Okay, sorry.SHERIFF TRUMAN watches ANDY walk off.DR. HAYWARDHarry let's roll her over.SHERIFF TRUMAN and DR. HAYWARD roll the body over and crouch beside it. TRUMAN pauses and looks at DR. HAYWARD before uncovering the plastic. They slowly pull the layers of plastic away from the face of the body.DR. HAYWARDGood Lord. Laura.', '1', 'ANDY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S mother, in her kitchen with a cigarette in hand as she shouts to the upper flo' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Laura Palmer.CUT TO:INT. PALMER HOUSE - DAYWe see SARAH PALMER, LAURA'S mother, in her kitchen with a cigarette in hand as she shouts to the upper floor.', '1', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm not going to tell you again.She exhales and speaks softly.', '1', 'SARAH')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Laura. Sweetheart. I'm not going to tell you again.She exhales and speaks softly.', '1', 'SARAH');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's bedroom.', '1', 'SARAH')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Laura. For goodness sakes.SARAH goes up the stairs and checks LAURA's bedroom.', '1', 'SARAH');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's room is empty. SARAH walks over to bathroom.', '1', 'SARAH')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Laura. Now means now.Laura's room is empty. SARAH walks over to bathroom.', '1', 'SARAH');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S bedroom and finds the bed unmade and the room empty.CUT TO:INT. PALMER HOUSE -' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Laura. (knocks on door) Laura? Laura honey are you downstairs?SARAH peers into LAURA'S bedroom and finds the bed unmade and the room empty.CUT TO:INT. PALMER HOUSE - DAYWe view a CLOSEUP of the ceiling fan as it revolves.CUT TO:INT. PALMER HOUSE - DAYIn the kitchen, SARAH picks up the phone and starts dialing with a cigarette still in hand.TUNE ENDS: LAURA PALMER'S THEME    CUT TO:INT. BRIGGS HOUSE - DAYMAJOR GARLAND BRIGGS, a plump, bald man dressed in an Air Force uniform, is seated at the kitchen table as his wife BETTY BRIGGS picks up the ringing phone.', '1', 'SARAH');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's Sarah. Listen I just went up to wake Laura and she's not here. Is she with Bob' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Beth it's Sarah. Listen I just went up to wake Laura and she's not here. Is she with Bobby?CUT TO:INT. BRIGGS HOUSE - DAY', '1', 'SARAH');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll ... I'll call the school.CUT TO:INT. BRIGGS HOUSE - DAY', '1', 'SARAH')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(nervous) Can you ... umm ... find out? Can ... can you reach him? I'll ... I'll call the school.CUT TO:INT. BRIGGS HOUSE - DAY', '1', 'SARAH');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm wondering if maybe she went out with Leland he had an early meeting.CUT TO:INT' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Thanks. Thanks Beth. You know I'm wondering if maybe she went out with Leland he had an early meeting.CUT TO:INT. BRIGGS HOUSE - DAY', '1', 'SARAH');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm sure that's it. Either that or she's with Bobby.CUT TO:INT. PALMER HOUSE - DAY' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Oh, I'm sure that's it. Either that or she's with Bobby.CUT TO:INT. PALMER HOUSE - DAY', '1', 'BETTY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll ... I'll call up to the hotel, thanks.SARAH hangs up the phone.CUT TO:INT. BR' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Sure. I'll ... I'll call up to the hotel, thanks.SARAH hangs up the phone.CUT TO:INT. BRIGGS HOUSE - DAYBETTY shows some concern as she hangs up the phone.CUT TO:INT. TWIN PEAKS HIGH SCHOOL - DAYFootball coach MAX HARTMAN answers SARAH's questions from a phone inside the boy's locker room.', '1', 'SARAH');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't shown up for practice yet today. Come to think of it, as a matter of fact, he'' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('No, Bobby hasn't shown up for practice yet today. Come to think of it, as a matter of fact, he's been late every day this week Mrs. Palmer. And last week and maybe even the week before...MAX hangs up the phone and shrugs after being rudely cut off.CUT TO:INT. PALMER HOUSE - DAYWe see SARAH with a disturbed look on her face. She dials another number on the telephone.CUT TO:EXT. GREAT NORTHERN HOTEL- DAYWe view the front of the hotel and the waterfall.CUT TO:EXT. GREAT NORTHERN HOTEL - DAYTUNE: AUDREY'S DANCEAUDREY HORNE, a young and very pretty brunette, approaches a car that is to chauffeur her to school. As she takes a seat we view a CLOSEUP of her shoes as the driver closes the door behind her.TUNE ENDS: AUDREY'S DANCECUT TO:INT. GREAT NORTHERN HOTEL - DAYBeside a roaring fire, BENJAMIN HORNE, a tall man with curly black hair, is talking business with LELAND PALMER, LAURA'S father, who is seated on a couch in front of the fire.', '1', 'MAX');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's get out there and get those cheese eaters where they live.', '1', 'BENJAMIN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Sorry. (clears his throat) We have solid information. The Packard Saw Mill is going to go belly up within a year. We are going to able to get it for a song, one verse no chorus. Now let's get out there and get those cheese eaters where they live.', '1', 'BENJAMIN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'my air sacks (Ben breathes in deeply and pounds his chest on the exhale) have ne' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Clean, wholesome environment much like your very own. (translator speaks) With a quality of life to rival the very best. (translations) That this country has to offer and that is what the Ghostwood Country Club and Estates will be. Now, when I first spoke to Sven he was naturally very concerned about the quality of air. If you permit me Sven (motioning to SVEN JORGENSON) to repeat what you told me after your run, 'my air sacks (Ben breathes in deeply and pounds his chest on the exhale) have never felt so good.'After the translation the crowd laughs.JULIE, a hotel employee, approaches LELAND and whispers.', '1', 'BENJAMIN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's on the phone again. She says its urgent.In the background the translator is sp' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Your wife's on the phone again. She says its urgent.In the background the translator is speaking to the crowd in Norwegian and again the crowd laughs.', '1', 'JULIE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll be right back.', '1', 'LELAND')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Excuse me a moment gentlemen. I'll be right back.', '1', 'LELAND');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll transfer you to the health spa.', '1', 'JULIE')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'll transfer you to the health spa.', '1', 'JULIE');]
(Background on this error at: https://sqlalche.me/e/14/f405)

(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's schoolmates, is missing since last night.CUT TO:INT. PACKARD SAW MILL - DAYWe ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(over the speakers) Just now, your coworker and friend Mr. Janek Pulaski has learned that his daughter, one of Laura's schoolmates, is missing since last night.CUT TO:INT. PACKARD SAW MILL - DAYWe view several areas in the mill as workers stand around and listen to JOSIE over the speakers.', '1', 'JOSIE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME    With the sound of the wind blowing, we see a young girl, RONETTE PULA' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Today, all work here will stop. The mill will shut down. Perhaps you can spend the day with your families. Thank you all for your attention.CUT TO:INT. PACKARD SAW MILL - DAYWe view a huge circular saw blade come to a complete stop.CUT TO:EXT. TRAIN BRIDGE - DAYTUNE: LAURA PALMER'S THEME    With the sound of the wind blowing, we see a young girl, RONETTE PULASKI, walking slowly along the train tracks of a bridge. She is wearing only slip that is dirty. Her makeup is smeared and there are tied loops of twine around each wrist that have been cut and are hanging free. Nearby, at the end of the bridge, an ENGINEER is arranging the track switch. Out of the corner of his eye he spots RONETTE.', '1', 'JOSIE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME    EXT. BIG ED'S GAS FARM - DAYJAMES HURLEY is on his motorcycle and he ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('What the hell.CUT TO:TUNE: THE BOOKHOUSE BOYS (1:12 - 2:11)TUNE ENDS: LAURA PALMER'S THEME    EXT. BIG ED'S GAS FARM - DAYJAMES HURLEY is on his motorcycle and he pulls in to his uncle's gas station. As he drives in, JAMES sets off a bell alerting 'BIG' ED HURLEY, a very tall man dressed in a plaid flannel and blue jeans, who comes out of the station to meet him. JAMES parks his motorcycle but doesn't get off it.', '1', 'ENGINEER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's dead.', '1', 'JAMES')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Laura's dead.', '1', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't do it. If you see Donna could you give this to her?JAMES hands BIG ED a folded' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Can't do it. If you see Donna could you give this to her?JAMES hands BIG ED a folded piece of paper.', '1', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S wife who has a patch over her left eye, is yelling to BIG ED from their home b' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Ed!JAMES starts up his motorcycle and drives off. NADINE HURLEY, BIG ED'S wife who has a patch over her left eye, is yelling to BIG ED from their home behind the gas station.TUNE ENDS: THE BOOKHOUSE BOYS (1:12 - 2:11)', '1', 'NADINE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S car as he is driving along the highway. He is alone in his car and is talking ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Ed! They said those drapes would be ready by ten. Now I want those drapes up by nightfall!BIG ED walks over to his truck, gets in, starts it up and drives off.CUT TO:INT. CAR - DAYTUNE: DANCE OF THE DREAM MANWe view the interior of FBI SPECIAL AGENT DALE COOPER'S car as he is driving along the highway. He is alone in his car and is talking into a mini tape recorder that he is holding in his left hand.', '1', 'NADINE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 've never seen so many trees in my life. As W. C. Fields would say I'd rather be ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Diane, 11:30 am, February 24. Entering the town of Twin Peaks, five miles South of the Canadian border, twelve miles West of the state line. I've never seen so many trees in my life. As W. C. Fields would say I'd rather be here then in Philadelphia. Fifty-four degrees on a slightly overcast day. Weatherman said rain. If you get paid that kind of money for being wrong sixty percent of the time it beat working. My mileage is 79,345. Gauge is on reserve. Riding on fumes here. I've got to tank up when I get into town. Remind me to tell you how much that is. Lunch was ... uhh ... (retrieves a receipt from his pocket) six dollars and thirty-one cents at the ... Lamplighter Inn, that's on highway two near Lewis Fork. That was a tuna fish sandwich on whole wheat, slice of cherry pie and a cup of coffee. (emphasized) Damn good food. Diane, if you ever get up this way that cherry pie is worth a stop. Okay. (picks up card) Looks like I'll be meeting up with a ahh ... Sheriff Harry S. Truman. Shouldn't be to hard to remember that. That will be at the Calhoun Memorial Hospital. I guess we're going to go up to intensive care and take a look at that girl that crawled down the railroad tracks off the mountain. I'm pretty sure I'll be checking into a hotel. I'm sure the sheriff will be able to recommend a clean place, reasonably priced. That's what I need, clean place, reasonably priced.CUT TO:EXT. ROAD INTO TWIN PEAKS - DAYCOOPER continues to talk as he passes the 'Welcome to Twin Peaks' sign.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll tell ya' we're sure glad to have the FBI here. We're kinda lucky in the way t' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Well I'll tell ya' we're sure glad to have the FBI here. We're kinda lucky in the way that Ronette step out across the state line. The whole town is very badly shaken up.', '1', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's a few things we got to get straight right off the bat. Now I've learned about ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Yeah, sure its a nice quiet place, something like this. (stops TRUMAN in the hall, now face to face) Sheriff let me just talk to you in the hallway here for just a second. There's a few things we got to get straight right off the bat. Now I've learned about this the hard way, its best to talk about it up front. When the bureau gets called in, the bureau's in charge. Now your going to be working for me. Sometimes local law enforcement has a problem with that. I hope you understand.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 're glad to have you here.COOPER now moves a little closer to SHERIFF TRUMAN and ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Like I said, we're glad to have you here.COOPER now moves a little closer to SHERIFF TRUMAN and sports a grin.', '1', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's report on the dead girl.', '1', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(repeated in amazement) Douglas firs. (changes expression) Can someone give me a copy of the coroner's report on the dead girl.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't been done yet. But I'll take you down stairs to the morgue when we're finished' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Well the autopsy hasn't been done yet. But I'll take you down stairs to the morgue when we're finished here.', '1', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's the girl.DR. SHELVYShe's in shock, suffering from exposure.', '1', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Doctor how's the girl.DR. SHELVYShe's in shock, suffering from exposure.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S bed as COOPER and SHERIFF TRUMAN follow her.CUT TO:INT. CALHOUN MEMORIAL HOSPI' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Could I see her?DR. SHELVYAlright, this way.DR. SHELVY leads the way to RONETTE'S bed as COOPER and SHERIFF TRUMAN follow her.CUT TO:INT. CALHOUN MEMORIAL HOSPITAL - DAYDR. SHELVY, COOPER and SHERIFF TRUMAN are beside RONETTE'S bed. RONETTE is lying on the hospital bed unconscious. She is hooked up to several machines that are beeping.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 're waiting for the results.', '1', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('One perpetrator?DR. SHELVYWe're waiting for the results.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'd like to question her.DR. SHELVYThis girl doesn't even know where she is or if ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Hmm. I'd like to question her.DR. SHELVYThis girl doesn't even know where she is or if she is.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's just not responsive at all.', '1', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('What exactly are you saying?DR. SHELVYWe need a CAT scan and we are not equipped for that here. My opinion, she may have neurological damage. She's just not responsive at all.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'd like to examine her fingers?DR. SHELVY looks at SHERIFF TRUMAN with a puzzled ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'd like to examine her fingers?DR. SHELVY looks at SHERIFF TRUMAN with a puzzled look. SHERIFF TRUMAN shrugs and gives a blank stare.DR. SHELVYAll right.COOPER moves over to RONETTE and grabs her left hand. With a small magnifying glass he looks at her fingernails.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 've already scrapped for particles.', '1', 'SHERIFF TRUMAN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('They've already scrapped for particles.', '1', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's not what I'm looking for. (continues looking) No, no. There's nothing here. No' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Nah. That's not what I'm looking for. (continues looking) No, no. There's nothing here. Not a thing.As COOPER puts her hand down RONETTE mumbles.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't go there. Don't ... don't go there.DR. SHELVYRonie.', '1', 'RONETTE')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('No. No. Don't go there. Don't ... don't go there.DR. SHELVYRonie.', '1', 'RONETTE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's this fish and I pull him out of the water. Big mouth, got a big mouth and it s' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Ronette.RONETTE is again unconscious.CUT TO:INT. CALHOUN MEMORIAL HOSPITAL - DAYCOOPER and SHERIFF TRUMAN are in an elevator, we watch a man with one arm walk inside. The doors close. On the next floor the doors open and the ONE-ARMED MAN steps out. In front of the open door stand two nurses behind a counter and DR. LAWRENCE JACOBY. DR. JACOBY is talking to the nurses.DR. JACOBY... there's this fish and I pull him out of the water. Big mouth, got a big mouth and it starts talking to me. Wo... (notices COOPER and SHERIFF TRUMAN standing quietly in the elevator as the doors close) Hey, hey.DR. JACOBY tries to get COOPER'S and SHERIFF TRUMAN'S attention but is cut off by the closing of the elevator doors.CUT TO:INT. CALHOUN MEMORIAL HOSPITAL - DAYAs COOPER and SHERIFF TRUMAN exit the elevator on their intended floor. They are met by DR. JACOBY who used the stairs to get to them. DR. JACOBYHarry.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's sort of against procedure doctor.DR. JACOBYWell, no offense. I ... I thought I' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('It's sort of against procedure doctor.DR. JACOBYWell, no offense. I ... I thought I could be of some help.', '1', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's ... uhh ... Laura's parents ... (slight laugh) they didn't know that she was s' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('You still could be, at another time.DR. JACOBYOh. I ... I understand completely, yeah. Oh. By the way, (slight laugh) Laura's ... uhh ... Laura's parents ... (slight laugh) they didn't know that she was seeing me. (little crazed laugh)COOPER and SHERIFF TRUMAN look at each other and then walk off. COOPER turns his head to look at DR. JACOBY and then to SHERIFF TRUMAN as they walk down the hospital hallway.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S ASSISTANT. The overhead fluorescent lights are flickering and are producing a ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Yeah.CUT TO:INT. CALHOUN MEMORIAL HOSPITAL- DAYIn the examining room with LAURA, COOPER is seated to the left side of LAURA and SHERIFF TRUMAN sits opposite of him. To the foot of the table, and in the background, is a DOCTOR'S ASSISTANT. The overhead fluorescent lights are flickering and are producing a buzzing sound.DOCTOR'S ASSISTANTI have to apologize again for the fluorescent lights. I ... I think its a bad transformer.', '1', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S left hand that he is examining with his little magnifying glass.', '1', 'COOPE' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Its quite alright.COOPER moves the table light to LAURA'S left hand that he is examining with his little magnifying glass.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S ASSISTANT(misheard) Jim.', '1', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Would you leave us please?DOCTOR'S ASSISTANT(misheard) Jim.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S ASSISTANTOh, certainly.The DOCTOR'S ASSISTANT leaves and closes the door behin' at line 1")

(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's a page that's marked.He opens the magazine to the marked page. At the bottom r' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('There's a page that's marked.He opens the magazine to the marked page. At the bottom right corner of the page there is a photo of RONETTE posed in lingerie. The ad has been circled with a marker.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's your connection, Ronette Pulaski.', '1', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('There's your connection, Ronette Pulaski.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S rig parked outside his home.MORPH TO:EXT. JOHNSON HOUSE - DAYWe view LEO'S rig' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I can not believe it.On the opposite page is a black and white picture of LEO JOHNSON'S rig parked outside his home.MORPH TO:EXT. JOHNSON HOUSE - DAYWe view LEO'S rig parked outside his home.CUT TO:INT. JOHNSON HOUSE - DAYSHELLY, wearing a robe, is sitting in front of the television and is watching a news report about the murder. LEO is sitting on the sofa. He is looking over different cigarette butts in the ash tray.', '1', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's around.', '1', 'SHELLY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Whatever's around.', '1', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't, you smoke these (shows one cigarette butt to her). What are these doing here?' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('No you don't, you smoke these (shows one cigarette butt to her). What are these doing here?He shows her a different cigarette butt.TUNE: WALKING IN THE DARK   32K', '1', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's two things Shelly. When I come home this house should be clean and I mean clea' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('There's two things Shelly. When I come home this house should be clean and I mean clean.', '1', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm going to snap your neck like a twig.', '1', 'LEO')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Number two, you smoke one brand of cigarettes from now on because if I ever see two different brands of cigarettes in this house again I'm going to snap your neck like a twig.', '1', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.', '1', 'SHELLY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Okay, Leo. You have nothing to worry about with me darlin'.', '1', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's right. (takes a drink from his bottle of beer)TUNE ENDS: WALKING IN THE DARK  ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('That's right. (takes a drink from his bottle of beer)TUNE ENDS: WALKING IN THE DARK   32KCUT TO:EXT. BIG ED'S GAS FARM - NIGHTWe view a CLOSEUP of BIG ED'S neon sign for his gas station that has a duck perched above the lettering and a smoke stack emitting smoke on the top of the sign.CUT TO:INT. BIG ED'S GAS FARM - NIGHTA phone rings and BIG ED answers it.', '1', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's gas farm, this is Ed speaking.CUT TO:INT. DOUBLE R DINER - NIGHTIn the kitchen' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Big Ed's gas farm, this is Ed speaking.CUT TO:INT. DOUBLE R DINER - NIGHTIn the kitchen, NORMA is on the phone and is speaking to BIG ED.', '1', 'BIG ED');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm sorry, I know I promised not to call you there ...CUT TO:INT. BIG ED'S GAS FAR' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'm sorry, I know I promised not to call you there ...CUT TO:INT. BIG ED'S GAS FARM - NIGHT', '1', 'NORMA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's okay. Why don't I ... uhh ... meet you at the Roadhouse around nine-thirty.CUT' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('It's okay. Why don't I ... uhh ... meet you at the Roadhouse around nine-thirty.CUT TO:INT. DOUBLE R DINER - NIGHT', '1', 'BIG ED');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll see you tonight.CUT TO:INT. BIG ED'S GAS FARM - NIGHT', '1', 'NORMA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Thank you Ed. I'll see you tonight.CUT TO:INT. BIG ED'S GAS FARM - NIGHT', '1', 'NORMA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's the babe.', '1', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Who's the babe.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's Mr. Packard?', '1', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Where's Mr. Packard?', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't exactly please his sister. That's her right there.TRUMAN gestures to the woman' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Died in a boating accident last year. Andrew Packard practically built this town. Brought her over from Hong Kong, six years ago, left her everything. Which didn't exactly please his sister. That's her right there.TRUMAN gestures to the woman, CATHERINE MARTELL, who is sitting on the other side of her husband, PETE MARTELL, that MRS. JOSIE PACKARD is sitting next to.', '1', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's the glad handy dandy?COOPER gestures to a man that has come up to JOSIE and is' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Who's the glad handy dandy?COOPER gestures to a man that has come up to JOSIE and is holding her hand.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's not after her, he's after her land.MAYOR DWAYNE MILFORD, an elderly man, is at' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Benjamin Horne, local big wig, he owns half the town. He's not after her, he's after her land.MAYOR DWAYNE MILFORD, an elderly man, is at the podium banging a gavel. The lights in the room flicker on and off as a woman holding a log is switching them on and off to get people's attention.', '1', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's the lady with the log?', '1', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Who's the lady with the log?', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't even news, until today. There are irrefutable similarities that for obvious re' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Thank you sheriff. Ladies and gentlemen, Federal Bureau of Investigation Special Agent Dale Cooper. One year ago almost to the day in a town in the Southwest corner of this state the body of a young girl named Teresa Banks was found. She had no family, no one came forward to claim her body. It wasn't even news, until today. There are irrefutable similarities that for obvious reasons I can not discuss that lead us to conclude that Laura Palmer was the second and Ronette Pulaski would have been the third victim of the same killer. Now there is a chance that the person that committed these crimes is someone from this town, possibly even someone you know. You are the leaders of this community. It is vitally important that this not turn into a witch hunt. I would strongly suggest a temporary curfew for those under eighteen years of age. Keeping your kids off the streets now may teach them a degree of caution that may protect them in the days and the weeks to come. I will remind you that these crimes occurred at night.CUT TO:EXT. STREET LIGHT - NIGHTA lonely street light, being blown in the wind, changes signals from green, to yellow and to red.CUT TO:INT. HAYWARD HOUSE - NIGHTTUNE: LAURA PALMER'S THEME    EILEEN HAYWARD, in her motorized wheelchair, is next to DR. HAYWARD who is seated beside her in the living room.DR. HAYWARDWhen I left the house Sarah was sleeping. Leland made it through the day somehow. I'm not sure I could have done the same.', '1', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's, they knows this because she was wearing it in a video of a picnic they found.' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Poor dear, poor Sarah.DR. HAYWARDEileen, the brutality it ... the madness of it. Their not releasing many details, wisely I suppose. At the scene where it happened, no one else knows this, they found part of a necklace ...CUT TO:INT. HAYWARD HOUSE - NIGHTUpstairs, DONNA is listening in on the conversation below.DR. HAYWARD... half of a golden heart. It was Laura's, they knows this because she was wearing it in a video of a picnic they found. The reason I'm telling you this that Donna was in the video with her and she won't tell them who shot it or who else was with them. But they think the killer may have the other half of the heart.DONNA returns to her room which she shares with her sister HARRIET HAYWARD. HARRIET is sitting up in bed with paper and pencil in hand.', '1', 'EILEEN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm going out the window in a few of minutes and I need you to cover for me.', '1'' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Sshhh. I'm going out the window in a few of minutes and I need you to cover for me.', '1', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't you aware that there is a curfew. They just announced it on the radio.', '1', ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Aren't you aware that there is a curfew. They just announced it on the radio.', '1', 'HARRIET');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's a curfew Einstein. That's why I need you to cover for me.', '1', 'DONNA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Yes, I know there's a curfew Einstein. That's why I need you to cover for me.', '1', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll need to borrow your bike.', '1', 'DONNA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Oh, I'll need to borrow your bike.', '1', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't forget to brush your teeth.', '1', 'DONNA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(teasingly) Yeah, Harriet don't forget to brush your teeth.', '1', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME    CUT TO:EXT. HAYWARD HOUSE - NIGHTTUNE: AUDREY'S DANCEBOBBY and MIKE p' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(to herself) Actually, now that some time has passed. I like the full blossom of the evening.TUNE ENDS: LAURA PALMER'S THEME    CUT TO:EXT. HAYWARD HOUSE - NIGHTTUNE: AUDREY'S DANCEBOBBY and MIKE pull up to the HAYWARD HOUSE in BOBBY'S car. As they get out they throw beer cans out of the car and MIKE walks up to the front door while BOBBY stands on top of the hood of his car.', '1', 'HARRIET');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't take any oink-oink off that pretty pig.', '1', 'BOBBY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Hey snake, don't take any oink-oink off that pretty pig.', '1', 'BOBBY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't you worry about that.MIKE reaches the front door and rings the bell.CUT TO:INT' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Don't you worry about that.MIKE reaches the front door and rings the bell.CUT TO:INT. HAYWARD HOUSE - NIGHTHARRIET opens her bedroom door to listen on the conversation below.CUT TO:EXT. HAYWARD HOUSE - NIGHTDR. HAYWARD answers the door.', '1', 'MIKE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'd like to talk to Donna.DR. HAYWARDDonna's up stairs getting ready for bed, Mike' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Hi Dr. Hayward, I'd like to talk to Donna.DR. HAYWARDDonna's up stairs getting ready for bed, Mike.DR. HAYWARD looks past MIKE and sees BOBBY. BOBBY is pretending to surf on the hood of his car with a beer in hand.DR. HAYWARDYour not drinking and driving are you?', '1', 'MIKE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 're ... uhh ... all pretty broken up about what happened today sir. Besides, Bobb' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Well we're ... uhh ... all pretty broken up about what happened today sir. Besides, Bobby is doing most of the driving.DR. HAYWARDI'll see if she wants to come down. Mike would you mind waiting out here please.DR. HAYWARD closes the door on MIKE.CUT TO:INT. HAYWARD HOUSE - NIGHTHARRIET has been listening from her bedroom. She closes her door and sits on her bed expecting her father.', '1', 'MIKE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S bedroom and enters but finds only HARRIET in the room.DR. HAYWARDWhere's your ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Snake man, lets go!MIKE shrugs on the holdup. BOBBY drinks some beer and continues to surf on the hood of his car.CUT TO:INT. HAYWARD HOUSE - NIGHTDR. HAYWARD opens the door of DONNA'S bedroom and enters but finds only HARRIET in the room.DR. HAYWARDWhere's your sister?', '1', 'BOBBY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm gonna to tell it you and I'm gonna tell it to you straight.DR. HAYWARDHarriet.' at line 1")

(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll do it.', '2', 'SHELLY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Okay Leo, when I get home I'll do it.', '2', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's here.SHELLY makes a brave decision: quickly folds the bloodstained shirt and s' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Shelly? Norma's here.SHELLY makes a brave decision: quickly folds the bloodstained shirt and stashes it in a nearby drawer. She closes the washer door and starts it just as LEO comes by.', '2', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's here?', '2', 'LEO')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Shelly, did you hear me say Norma's here?', '2', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm gonna come by the diner sometime today. (pinches SHELLY'S cheek softly and hol' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'm gonna come by the diner sometime today. (pinches SHELLY'S cheek softly and holds it) Be a good girl and save me a piece 'a pie.', '2', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S DEPARTMENT - DAYIn the conference room, we see JAMES HURLEY seated across from' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(manages a smile) Sure, Leo.LEO works her cheek for a moment, squeezing a bit harder. SHELLY hides her fear.TUNE ENDS: WALKING IN THE DARK   32KCUT TO:INT. TWIN PEAKS SHERIFF'S DEPARTMENT - DAYIn the conference room, we see JAMES HURLEY seated across from SHERIFF TRUMAN and COOPER.', '2', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S eye.', '2', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Did you shoot this video?JAMES bows his head in silence. COOPER fast forwards the tape to the freeze frame of the motorcycle reflected in LAURA'S eye.', '2', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's your cycle isn't it?JAMES looks up and sees it.', '2', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('That's your cycle isn't it?JAMES looks up and sees it.', '2', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's the way she wanted it.', '2', 'JAMES')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Well, it was secret because that's the way she wanted it.', '2', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't know. I think something scared her because she wouldn't see me. She wouldn't e' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(getting emotional) I don't know. I think something scared her because she wouldn't see me. She wouldn't even talk to me.', '2', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME    ', '2', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(big exhale) When was the last time you saw her?TUNE: LAURA PALMER'S THEME    ', '2', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't see her again.', '2', 'JAMES')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('The night she died. She snuck out of the house about 9:30. About 12:30 I stopped the bike at the light at Sparkwood and 21, and she jumped off and ran away. I didn't see her again.', '2', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't see me anymore.', '2', 'JAMES')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Not exactly but she said she couldn't see me anymore.', '2', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't say.COOPER reaches into his pocket and pulls out LAURA'S half-heart necklace.'' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('She didn't say.COOPER reaches into his pocket and pulls out LAURA'S half-heart necklace.', '2', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S diary, opened in front of him, at the page for February 5th; the page marked '' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Yes, sir.COOPER looks at LAURA'S diary, opened in front of him, at the page for February 5th; the page marked 'DAY ONE.'', '2', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S eyes. He fights them back as he recounts that day.WHITE OUT TO:EXT. EASTER PAR' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('James, what happened on February 5th and who has the other half of this heart?Tears form in JAMES'S eyes. He fights them back as he recounts that day.WHITE OUT TO:EXT. EASTER PARK - DAYWe see LAURA PALMER, sitting on a picnic blanket, playfully looking at JAMES.', '2', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm so happy today.', '2', 'LAURA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('James, guess why I'm so happy today.', '2', 'LAURA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S DEPARTMENT - DAYSitting in the conference room with his head down, JAMES sudde' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Because I really believe that you love me. Now my heart belongs to you.She `breaks` the heart in two.WHITE OUT TO:INT. TWIN PEAKS SHERIFF'S DEPARTMENT - DAYSitting in the conference room with his head down, JAMES suddenly looks up at COOPER.', '2', 'LAURA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't know.TUNE ENDS: LAURA PALMER'S THEME    CUT TO:EXT. JOHNSON HOUSE - DAYLEO is ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I don't know.TUNE ENDS: LAURA PALMER'S THEME    CUT TO:EXT. JOHNSON HOUSE - DAYLEO is putting the last touches on polishing his truck, when he's struck by a troubling thought. He opens the storage bins on his cab and then frantically moves to the cab and searches behind and under the driver's seat. He can't find what he's looking for.', '2', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's that shirt.He jumps down from the cab and runs towards the house.CUT TO:EXT. J' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Damn it. Where's that shirt.He jumps down from the cab and runs towards the house.CUT TO:EXT. JOHNSON HOUSE - DAYLEO throws open the top of the washer, pulls out the full load of soggy laundry and searches through them, looking for the bloody shirt that he does not find.', '2', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S DEPARTMENT - DAYIn their holding cells, MIKE NELSON is sitting on his steel bu' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('NO!He slams the washer hard. The washer goes `tilt` and makes a loud, rhythmic clanking sound.FADE OUT:FADE IN:TUNE: FRESHLY SQUEEZED (0:26 - 3:48)INT. TWIN PEAKS SHERIFF'S DEPARTMENT - DAYIn their holding cells, MIKE NELSON is sitting on his steel bunk cot while BOBBY BRIGGS, sitting on top of the sink, lays against the wall and the bars at the corner of the cell.', '2', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's house?', '2', 'MIKE')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Hey Bopper, ... since when does Leo Johnson call me at my parent's house?', '2', 'MIKE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'd you tell him, Snake?', '2', 'BOBBY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(sigh) What'd you tell him, Snake?', '2', 'BOBBY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't have any of it yet. I thought the deal was we were supposed to give it to him ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(stands up) As far as I knew, he didn't have any of it yet. I thought the deal was we were supposed to give it to him today.', '2', 'MIKE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's in Laura's safety deposit box.', '2', 'BOBBY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(closes his eyes) It's in Laura's safety deposit box.', '2', 'BOBBY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't get it back from her?', '2', 'MIKE')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(turns to face BOBBY) So you didn't get it back from her?', '2', 'MIKE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't know, Snake. Maybe we could sell light bulbs door-to-door.', '2', 'BOBBY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(wise-ass) I don't know, Snake. Maybe we could sell light bulbs door-to-door.', '2', 'BOBBY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's great, that's just ... that's just great. This isn't funny, Bobby.', '2', 'MIK' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Oh that's great, that's just ... that's just great. This isn't funny, Bobby.', '2', 'MIKE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm not laughing.', '2', 'BOBBY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'm not laughing.', '2', 'BOBBY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 're lucky, we're lucky we're in jail, because you know what's gonna go down with ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('You know, we're lucky, we're lucky we're in jail, because you know what's gonna go down with Leo when we get out of here?', '2', 'MIKE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't mention one word about Leo Johnson, you do not know Leo Johnson.The holding ar' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(pushes MIKE then grabs his shirt) Shut up man. Don't mention one word about Leo Johnson, you do not know Leo Johnson.The holding area door opens. DEPUTY TOMMY 'THE HAWK' HILL leads JAMES back in and takes him back to his cell. BOBBY moves to the cell bars, grabs the bars with both hands and stares at JAMES. Before entering his cell, JAMES returns the stare.TUNE ENDS: FRESHLY SQUEEZED (0:26 - 3:48)CUT TO:', '2', 'BOBBY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME (INSTRUMENT SOLO V1)We view a CLOSEUP of the video of LAURA and DONNA pr' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('TUNE: LAURA PALMER'S THEME (INSTRUMENT SOLO V1)We view a CLOSEUP of the video of LAURA and DONNA prancing around at the picnic. As the tape plays, we view a close-up of LAURA'S face as she stares into the camera. An unknown voice speaks 'HELP ME'.TUNE ENDS: LAURA PALMER'S THEME (INSTRUMENT SOLO V1)CUT TO:INT. HAYWARD HOUSE - DAYDonna enters the living room from the stairs where her mother, EILEEN HAYWARD, sits in her wheelchair drawing with a pencil.', '2', 'TELEVISION');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't hear her) Mom?', '2', 'DONNA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Mom? (EILEEN doesn't hear her) Mom?', '2', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's 10:30, why didn't you wake me? I was supposed to go down to the sherrif's offi' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Mom, it's 10:30, why didn't you wake me? I was supposed to go down to the sherrif's office.', '2', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 're so sorry.DONNA takes a seat beside her mom.', '2', 'EILEEN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('We feel so badly for you, we're so sorry.DONNA takes a seat beside her mom.', '2', 'EILEEN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's so strange. I know I should be sad, and I am, part of me is, but its like ... ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Mom, it's so strange. I know I should be sad, and I am, part of me is, but its like ... its like I'm having the most beautiful dream and the most terrible nightmare all at once.TUNE: TWIN PEAKS THEME    ', '2', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't know how troubled Laura was. Last night, I had to see him we were the two clos' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('James and Laura were seeing each other the last two months. I was the only one who knew about it. Mom, James was so good for her, you don't know how troubled Laura was. Last night, I had to see him we were the two closest people in the world to her. But I feel so bad now.', '2', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 've betrayed my best friend ... (teary eyed) ... and if its true, then why am I s' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Because we realized ... that all this time ... we were the ones falling in love. So I feel like I've betrayed my best friend ... (teary eyed) ... and if its true, then why am I so happy?', '2', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)

(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 're here for you, Bobby.BOBBY shakes his head slightly in befuddlement.CUT TO:EXT' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(sincerely) We're here for you, Bobby.BOBBY shakes his head slightly in befuddlement.CUT TO:EXT. DOUBLE R DINER - NIGHTTUNE: DANCE OF THE DREAM MANWe view a CLOSEUP on the neon 'RR' sign.CUT TO:INT. DOUBLE R DINER - NIGHTThe diner is bustling with dinner traffic. SHERIFF TRUMAN and DALE COOPER are seated at the counter. SHELLY pours SHERIFF TRUMAN some more coffee as COOPER drinks his.', '2', 'BETTY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's a sure thing Shelly.SHELLY brandishes a grin at COOPER'S remark and then walks' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(a twinkle in his eye) Nothing's a sure thing Shelly.SHELLY brandishes a grin at COOPER'S remark and then walks off. COOPER motions a distaste in his mouth.', '2', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't get the taste of that fish filtered coffee out of my mouth.', '2', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Damn, I still can't get the taste of that fish filtered coffee out of my mouth.', '2', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'J'?', '2', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Shelly Johnson with a 'J'?', '2', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's a trucker, Leo. Minor rap sheet.COOPER nods and makes a note as he sips his co' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Mm-hmm, husband's a trucker, Leo. Minor rap sheet.COOPER nods and makes a note as he sips his coffee. As he puts the notebook away, he looks around and sees the 'LOG LADY', MARGARET LANTERMEN, seated a couple of chairs away, cradling her log and drinking coffee. COOPER looks back at SHERIFF TRUMAN.', '2', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S actions, the LOG LADY responds with a sour scowl and looks away. COOPER turns ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(waves to her) Hi.Spotting COOPER'S actions, the LOG LADY responds with a sour scowl and looks away. COOPER turns back to SHERIFF TRUMAN.', '2', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't looked at LEO yet.', '2', 'SHELLY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Thanks, Norma. See you tomorrow.TUNE: 1?We view a CLOSEUP on a bar of soap being dropped into a dark sock. LEO ties the sock off and holds it in his hand. SHELLY enters the kitchen carrying a full grocery bag. She hasn't looked at LEO yet.', '2', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's my shirt?', '2', 'LEO')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Where's my shirt?', '2', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's the second one you've lost this year! I'm going to teach you a lesson now, She' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('That's the second one you've lost this year! I'm going to teach you a lesson now, Shelly, about taking care of my property! That means making sure things aren't lost or damaged!', '2', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME   11K', '2', 'SHELLY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('No.TUNE ENDS: 1?LEO walks over to the radio on top of the refrigerator and turns it on to a very loud tune.TUNE: NADINE'S THEME   11K', '2', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME   11KCUT TO:EXT. HAYWARD HOUSE - NIGHTWe view the front of the house and' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('No. No.SHELLY now crouches into an incompletely built corner of the room, with her hands covering her face and head. LEO starts to twirl the sock, gaining momentum and as it flies out of view, we hear it hit with a thud.TUNE ENDS: NADINE'S THEME   11KCUT TO:EXT. HAYWARD HOUSE - NIGHTWe view the front of the house and see JAMES'S motorcycle parked out front near the street.CUT TO:INT. HAYWARD HOUSE - NIGHTThe door bell rings.', '2', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll get it.DONNA answers the door and escorts JAMES into the living room, where E' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'll get it.DONNA answers the door and escorts JAMES into the living room, where EILEEN and DR. HAYWARD are waiting.', '2', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 're hungry. Eileen's been cooking up a storm.', '2', 'EILEEN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Very nice to meet you, James.An awkward silence.DR. HAYWARDWell I hope you're hungry. Eileen's been cooking up a storm.', '2', 'EILEEN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'd be good, thank you.', '2', 'JAMES')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Ah, fruit punch. That'd be good, thank you.', '2', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll get it', '2', 'DONNA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'll get it', '2', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't you fellas sit down at the table and I'll ... I'll go check on the roast.EILEE' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Uhm, why ... why don't you fellas sit down at the table and I'll ... I'll go check on the roast.EILEEN drives her chair towards the kitchen. JAMES and DR. HAYWARD move to the dining room table and take their seats. DONNA returns from the kitchen and sets down a glass in front of JAMES.', '2', 'EILEEN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's your fruit punch.', '2', 'DONNA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Here's your fruit punch.', '2', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't believe I know your parents, James.', '2', 'JAMES')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Thanks, Donna.DR. HAYWARDI don't believe I know your parents, James.', '2', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's uncle.DR. HAYWARDHis wife is the lady with the patch?', '2', 'DONNA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Ed Hurley down at the Gas Farm is James's uncle.DR. HAYWARDHis wife is the lady with the patch?', '2', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's my Aunt Nadine. She's a real character.They all laugh slightly.', '2', 'JAMES'' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Yes sir, that's my Aunt Nadine. She's a real character.They all laugh slightly.', '2', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's good to see you. (smiles)TUNE: LAURA PALMER'S THEME    ', '2', 'JAMES')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('It's good to see you. (smiles)TUNE: LAURA PALMER'S THEME    ', '2', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's good to see you, too.DONNA and JAMES both extend an arm out over the table and' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(smiles warmly) It's good to see you, too.DONNA and JAMES both extend an arm out over the table and hold hands.TUNE ENDS: LAURA PALMER'S THEME    CUT TO:EXT. HAYWARD HOUSE - NIGHTMIKE and BOBBY pull up outside the house in MIKE'S car. They see JAMES'S motorcycle parked in front.TUNE: FRESHLY SQUEEZED (0:26 - 3:48)', '2', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S OFFICE - NIGHTTUNE: LAURA PALMER'S THEME    We watch DR. LAWRENCE JACOBY inser' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Too bad we can only kill him once. (lights a cigarette)TUNE ENDS: FRESHLY SQUEEZED (0:26 - 3:48)CUT TO:INT. DR. JACOBY'S OFFICE - NIGHTTUNE: LAURA PALMER'S THEME    We watch DR. LAWRENCE JACOBY insert an audio tape into his stereo and push the play button. He is eating malted milkballs that he is carrying in his left hand.', '2', 'BOBBY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's up, doc? Its Laura Palmer in case you haven't guess. I'm making you another on' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(from tape) Hey, what's up, doc? Its Laura Palmer in case you haven't guess. I'm making you another one of these tapes.DR. JACOBY stands up to retrieve a pair of headphones hanging from a hook on the wall above the stereo and plugs them in. The sound of LAURA'S voice is now coming from the headphones that he is carrying around in his hands. He then walks over to his fifties-style, Hawaiian-themed rec room and grabs a coconut off a short, fake palm tree. He moves over to a large lounge chair and lays back on it.', '2', 'LAURA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 've mailed it to you in one of the envelopes you gave me. It's Thursday the twent' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Which as you already know I've mailed it to you in one of the envelopes you gave me. It's Thursday the twenty-third, and I'm so bored ... actually I'm in kind'a of a weird mood. (slight cry in her voice) Doc, James is sweet ... but he's so dumb. I should've met you a long time ago Dr. Jacoby cause right now I can take just so much of sweet. I just know I'm going to get lost in those woods again tonight. I just know it. Remember me telling you about that mystery man. Well ...DR. JACOBY puts the headphones over both ears and and we no longer can hear her voice. As he listens his face registers a whole gamut of emotions. He then opens the coconut, which is actually a stash box disguised as a coconut, in his hand to reveal the gold half heart with the leather necklace inside that was buried under the rock in the woods by JAMES and DONNA. DR. JACOBY lifts the necklace out of the coconut and starts to cry as he continues to listen to the tape.TUNE ENDS: LAURA PALMER'S THEME    FADE OUT:CLOSE:FADE IN:TUNE: LAURA PALMER'S THEME    We view LAURA PALMER'S homecoming picture as the end credits roll.TUNE ENDS: LAURA PALMER'S THEME    FADE TO BLACK: 	', '2', 'LAURA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's ideas. Some ideas are destructive, some are constructive. Some ideas can arriv' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Sometime ideas, like men, jump up and say hello.They introduce themselves, these ideas, with words. Are they words? These ideas speak so strangely. All that we see in this world is based on someone's ideas. Some ideas are destructive, some are constructive. Some ideas can arrive in the form of a dream. I can say it again. Some ideas arrive in the form of a dream.FADE OUT:INTRO:FADE IN:TUNE: TWIN PEAKS THEME    CREDITS run with the scenes of a bird in a tree, the mill machinery at work, the road into town with the welcome sign, the hotel by the falls and the river.TUNE ENDS: TWIN PEAKS THEME    FADE OUT:FADE IN:INT. HORNE RESIDENCE - NIGHTIn the HORNE residence wing of the Great Northern Hotel, the HORNE family sits quietly around the dinner table. BENJAMIN HORNE and SYLVIA HORNE sit at opposite ends of a long dinner table while AUDREY HORNE and JOHNNY HORNE, wearing an Indian headdress, sit opposite each other near the middle of the table. Except for JOHNNY making a few odd sounds, the room is filled with the sounds of tableware clanking as the family eats. Until the door burst open and JERRY HORNE, BENJAMIN'S younger, wiry brother, walks in. JERRY looks back out at the hall.TUNE: FRESHLY SQUEEZED (0:00 - 0:26) (W/O SNAPS)', '3', 'LOG LADY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 've got a sandwich in there and I want all those bags opened. We're looking till ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Right THERE, no, no, right there! What is with you guys. (the BELLHOPS place the baggage down) I've got a sandwich in there and I want all those bags opened. We're looking till we find it.The BELLHOPS hop to it, all the bags are opened and they are scattering clothes around until they find several sandwiches wrapped in white paper. JERRY has moved over to AUDREY.', '3', 'JERRY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's back. Sylvia.JERRY moves to SYLVIA as if to kiss her.', '3', 'JERRY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Hey Audrey, uncle Jerry's back. Sylvia.JERRY moves to SYLVIA as if to kiss her.', '3', 'JERRY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's a baguette, with brie and butter, I had four of these damn things every day I ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Brother Ben, this is the best damn sandwich I ever ate, it's a baguette, with brie and butter, I had four of these damn things every day I was there. You gotta try this. (hands a sandwich to BEN) Here, go ahead, eat it, go ahead, go ahead.Very interested, BENJAMIN takes the sandwich and draws his nose over it to smell it deeply.', '3', 'JERRY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S mouth is soon full from a bite of his sandwich and is laughing at BEN'S reacti' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Oh, yeah.BENJAMIN really likes the smell of the sandwich. Grabbing the long ends of the sandwich, he takes a large bite out of it. With his mouth full he hums in ecstasy. JERRY unwraps himself one and sits nearby at the fireplace. JERRY'S mouth is soon full from a bite of his sandwich and is laughing at BEN'S reaction.', '3', 'BENJAMIN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's daughter was murdered and the Norwegians left.TUNE: NAUGHTY AUDREY   35KTUNE E' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Leland's daughter was murdered and the Norwegians left.TUNE: NAUGHTY AUDREY   35KTUNE ENDS: NAUGHTY AUDREY   35K', '3', 'BENJAMIN');]

(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S jacket) Hey man, Laura was a wild girl.', '3', 'LEO')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(grabs BOBBY'S jacket) Hey man, Laura was a wild girl.', '3', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S right next to BOBBY, MIKE is standing to the left side of BOBBY. MIKE reaches ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Maybe. Someday.LEO'S right next to BOBBY, MIKE is standing to the left side of BOBBY. MIKE reaches into his pocket. Without taking his eyes off BOBBY, LEO slowly swivels the shotgun around and trains it on MIKE and then places the light on his face.', '3', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's been givin' it away.', '3', 'LEO')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('You find out your old lady's been givin' it away.', '3', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'out, in your own damn bedroom. That's a problem.', '3', 'LEO')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Yeah. Steppin' out, in your own damn bedroom. That's a problem.', '3', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll take care of it.', '3', 'LEO')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(moves the light to MIKE) I'll take care of it.', '3', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll take care of that, don't you worry about that. We'll get the cash and everyth' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Sure you will man and this other thing, hell, we'll take care of that, don't you worry about that. We'll get the cash and everything'll be square.LEO shines the light on his own face and laughs. He pauses for a while and stares at BOBBY then says ...', '3', 'BOBBY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S point of view as he runs helter-skelter through the woods with his flashlight ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('RUN!BOBBY and MIKE turn and start running away from him, back towards the car. We view BOBBY'S point of view as he runs helter-skelter through the woods with his flashlight lighting the way.As they reach the car, a football thuds onto the hood of the car, scaring the shit out of MIKE and BOBBY. They look at each other.', '3', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm done Bobby.', '3', 'MIKE')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Damn it, I'm done Bobby.', '3', 'MIKE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's get the hell out of here.They jump into the car and speed off into the night.T' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Let's get the hell out of here.They jump into the car and speed off into the night.TUNE ENDS: RUNNING SCAREDFADE OUT:FADE IN:EXT. HURLEY HOUSE - DAYWe view a CLOSEUP on the front door knob as 'BIG' ED HURLEY turns the knob with his wrists because his hands are covered in black grease.CUT TO:INT. HURLEY HOUSE - DAYOn the living room floor, NADINE HURLEY, in workout gear, is vigorously rowing on her rowing machine. Wearing a greasy gas station outfit, 'BIG' ED HURLEY enters the house and stops when he sees NADINE rowing away. BIG ED tries to tiptoe around behind NADINE so she doesn't see him but in doing so he steps on the drape runners and cotton balls laid out on the floor. Cotton balls and the drape runners scatter as BIG ED tries to keep from falling. Some of the grease from his hands falls on the cotton balls. NADINE hears the ruckus and stops rowing to see what has happened.', '3', 'BOBBY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm sorry, honey, I didn't see it there.', '3', 'BIG ED')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'm sorry, honey, I didn't see it there.', '3', 'BIG ED');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's an accident. I laid those out there myself, I was up all night working on that' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('You think that's an accident. I laid those out there myself, I was up all night working on that invention. I'm going to have the world's first 100 quiet runner!', '3', 'NADINE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm really sorry, Nadine.', '3', 'BIG ED')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Well I'm really sorry, Nadine.', '3', 'BIG ED');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'THE HAWK' HILL. They are using the tape measure to find the distance from LUCY t' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('ED, YOU MAKE ME SICK!BIG ED nods and moves into the other room. NADINE starts to row again. Pumped up with rage, NADINE grips the metal oars and pulls back on them. We hear NADINE grunting along with the screech of rending steel as she bends the oars back like willow sticks.CUT TO:EXT. TWIN PEAKS SHERIFF DEPARTMENT - DAYTUNE: THE BOOKHOUSE BOYS (0:36 - 0:58)In the woods, behind the station, LUCY MORAN is holding the end of a tape measure to her nose. We follow the length of the tape measure to its other end and see a small table set up near a blackboard. The table is covered with stacked donuts of several varieties. At the other end of the tape measure is SHERIFF HARRY S. TRUMAN and DEPUTY TOMMY 'THE HAWK' HILL. They are using the tape measure to find the distance from LUCY to the nearby stump where an empty milk bottle has been placed on top. COOPER, with coffee cup in hand, is writing names with a piece of chalk on a blackboard near the table of donuts. COOPER looks over to SHERIFF TRUMAN.', '3', 'NADINE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's it, exactly sixty feet, six inches.', '3', 'SHERIFF TRUMAN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('That's it, exactly sixty feet, six inches.', '3', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's up to?', '3', 'HAWK')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('What do you think he's up to?', '3', 'HAWK');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's title on the virgin white paper.', '3', 'ANNOUNCER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('... and every hour holds a promise of an ...On the television show, violins soar as the note is shown with a scarlet red flowing script writes out the program's title on the virgin white paper.', '3', 'ANNOUNCER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's the big bad bobcat.', '3', 'BOBBY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Hey, baby, it's the big bad bobcat.', '3', 'BOBBY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's your car?', '3', 'SHELLY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(whispered to herself) Oh god. (to BOBBY) Where's your car?', '3', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'd be worse.SHELLY decides to partially open the door and speak to him, keeping h' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Parked in the woods. Come on, open-says-me. Somebody might see me out here and that'd be worse.SHELLY decides to partially open the door and speak to him, keeping her face out of view.', '3', 'BOBBY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't see each other for a while.BOBBY gently squeezes himself inside the house. SHE' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Bobby, you can not come by here like this. We can't see each other for a while.BOBBY gently squeezes himself inside the house. SHELLY turns away from him but he gently grabs her and turns her around to see the bruises on her face.TUNE: DARK TIMES', '3', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll kill us both.He moves to her and cups her face in his hands.', '3', 'SHELLY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Bobby, if he finds out about us he is going to kill you, he'll kill us both.He moves to her and cups her face in his hands.', '3', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll kill him. I mean it.They kiss tenderly. We view a CLOSEUP of them kissing.TUN' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('If he ever does this to you again, I'll kill him. I mean it.They kiss tenderly. We view a CLOSEUP of them kissing.TUNE ENDS: DARK TIMESCUT TO:INT. DOUBLE R DINER - DAYTUNE: BIG ED AND NORMAâ€™S SONG     38KNORMA is leaning against a machine at the island counter as BIG ED walks in the front door. NORMA sees him near the door as he smiles, raises his left hand up as a greeting and says ...', '3', 'BOBBY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'a coffee.BIG ED moves over and sits at the counter. NORMA places his coffee on t' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Cup'a coffee.BIG ED moves over and sits at the counter. NORMA places his coffee on the counter and leans slightly over the counter, on one elbow, next to BIG ED.', '3', 'BIG ED');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't be the last ... but I'm in that dog house again.', '3', 'BIG ED')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Its not the first time, it won't be the last ... but I'm in that dog house again.', '3', 'BIG ED');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's all she talked about were those drape runners.', '3', 'NORMA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I ran into Nadine in the hardware store, that's all she talked about were those drape runners.', '3', 'NORMA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's got one big bee in her bonnet.NORMA touches the bandage on his forehead.', '3'' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('She's got one big bee in her bonnet.NORMA touches the bandage on his forehead.', '3', 'BIG ED');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't he.', '3', 'BIG ED')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Young Bobby sure gave me a good one didn't he.', '3', 'BIG ED');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S DEPARTMENT - DAYTUNE: THE BOOKHOUSE BOYS (0:36 - 0:58)In the woods, a large bl' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Mm-hmm.TUNE ENDS: BIG ED AND NORMAâ€™S SONG     38KCUT TO:EXT. TWIN PEAKS SHERIFF'S DEPARTMENT - DAYTUNE: THE BOOKHOUSE BOYS (0:36 - 0:58)In the woods, a large blackboard is set up behind the station. A table is set up near the blackboard, covered with the fruits of LUCY'S morning donut run. Four folding chairs are set up near the table. They are all carry mugs of coffee. SHERIFF TRUMAN and HAWK are at the table of donuts. COOPER is at the blackboard and has just placed the chalk down. DEPUTY ANDY BRENNAN stands near COOPER with a galvanized metal bucket filled with round rocks. ', '3', 'NORMA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 're about to do, I'm going to first talk to you a little bit about the country ca' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('By way of explaining what we're about to do, I'm going to first talk to you a little bit about the country called Tibet.COOPER flips the two-sided blackboard over, revealing a detailed map of Tibet and surrounding countries tacked to it. The seated group all slowly lean forward.', '3', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'J' tonight. Today we're going to concentrate on the 'J's.COOPER circles the 'J' ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Nervous about meeting 'J' tonight. Today we're going to concentrate on the 'J's.COOPER circles the 'J' with chalk. SHERIFF TRUMAN and HAWK stand near him.', '3', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 've written on the blackboard.', '3', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Harry, when I give the word, would you please read aloud each of the names I've written on the blackboard.', '3', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm ... getting excited.', '3', 'LUCY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Oh, I'm ... getting excited.', '3', 'LUCY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's relationship to Laura Palmer. Ready?', '3', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('And if I should strike the bottle after Sheriff Truman says a particular name, make a check to the right of that name. (turns to SHERIFF TRUMAN) Oh sheriff, I almost forgot, when you say the name, also briefly state that person's relationship to Laura Palmer. Ready?', '3', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S DEPARTMENT - DAY', '3', 'SHERIFF TRUMAN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('... secret boyfriend.WHITE OUT TO:EXT. TWIN PEAKS SHERIFF'S DEPARTMENT - DAY', '3', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S DEPARTMENT - DAY', '3', 'SHERIFF TRUMAN')' at line 1")

(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S picture on a nearby table. LELAND moves to photograph and picks it up. Slowly,' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Two books?She briefly scans the contents of the books.TUNE ENDS: LOVE THEME FROM TWIN PEAKSCUT TO:EXT. PALMER HOUSE - NIGHTWe view the front of house.CUT TO:INT. PALMER HOUSE - NIGHTWe view a CLOSEUP of a painting of a deer.CUT TO:INT. PALMER HOUSE - NIGHTIn the living room, near an antique record player, LELAND PALMER snaps his fingers to a tune in his head. LELAND lifts the stylus and drops the needle on the record. A big band song starts up and with relief, tears spring into his eyes.SONG: PENNSYLVANIA 6-5000He walks into the center of the room and then turns his head to LAURA'S picture on a nearby table. LELAND moves to photograph and picks it up. Slowly, at first, he starts to spin around in place holding the photo at arms length. Faster and faster he spins and starts to moan and then wail. Startled by the sound and the music, SARAH PALMER enters the room to see LELAND dancing and wailing.', '3', 'JOSIE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S picture onto a table and cut themselves on the broken glass. LELAND wipes the ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Leland, Leland give it to me.SARAH tries to take the picture out of his hands as he continues to spin. In the struggle they slam LAURA'S picture onto a table and cut themselves on the broken glass. LELAND wipes the blood on SARAH'S and his own hand and smears it on the photograph as he cries, thinking of his daughter.', '3', 'SARAH');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME    LELAND cries quietly as he looks at LAURA'S picture.TUNE ENDS: LAURA ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(screamed) LELAND, WHAT IS GOING ON IN THIS HOUSE!LELAND moans as SARAH screams with her hands to her head.TUNE: LAURA PALMER'S THEME    LELAND cries quietly as he looks at LAURA'S picture.TUNE ENDS: LAURA PALMER'S THEME    FADE OUT:FADE IN:INT. DALE COOPER'S HOTEL ROOM - NIGHTCOOPER, in bed, adjusts his pillow and turns off the light.CUT TO:INT. DALE COOPER'S HOTEL ROOM - NIGHTWe see COOPER asleep in bed, sleeping fitfully. With a flash of light and a thunderous like sound we see ...FADE OUT:FADE IN:INT. WAITING ROOMWe see a large, windowless, well-lit, sparsely furnished, red-draped room with a table and three easy chairs. DALE COOPER, twenty-five years older, sits in one of the chairs. A LITTLE MAN, three and a half feet tall, in a red suit, stands with his back to COOPER, shaking violently.A muffled voice repeatedly says 'Laura', a buzzing of electricity is heard along with the sound of a ceiling fan circulating as we briefly see ...CUT TO:INT. PALMER HOUSE - DAYIn slow motion, SARAH runs down the staircase. We can see that the ceiling fan circulating.CUT TO:INT. PALMER HOUSE - DAYWe view the man from SARAH'S vision crouched at the foot of LAURA'S bed behind the bedpost staring up at us.CUT TO:INT. PALMER HOUSE - DAYIn slow motion, we finish watching SARAH run down the stairs with the ceiling fan circulating above her.CUT TO:INT. ABANDONED TRAINCAR - DAYWe view a bloody towel laying on top of a cabinet lit by a flashlight in the dark interior.CUT TO:INT. CALHOUN MEMORIAL HOSPITAL - DAYWe view LAURA'S face on the examining table in the morgue.FADE OUT:With the sound of electricity the screen FLASHES white and black.FADE IN:INT. DALE COOPER'S HOTEL ROOM - NIGHTCOOPER sleeps unrestly in bed, tossing and turning, with his room lit from an unknown source. He continues to dream and we switch between views of COOPER tossing and turning and of his dream ...MORPH TO:In a dimly lit room, a man, seen before walking through the hospital, with one arm speaks.ONE-ARMED MANThrough the darkness of future past, the magician longs to see. One chants out between two worlds ... fire ... walk with me. ... We lived among the people. I think you say, convenience store. We lived above it. I mean it like it is, like it sounds. I too have been touched by the devilish one. Tattoo on the left shoulder ... oh, but when I saw the face of god, I was changed. I took the entire arm off. My name is Mike. His name is Bob.MORPH TO:In a basement we see the man from SARAH'S vision, BOB, a frightening long-haired man, stands beside machinery in a dark room. He looks toward the ceiling as he speaks.', '3', 'SARAH');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 've gone insane ... but I promise, I will kill again.MORPH TO:We view a mound of ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Catch you with my death bag. You make think I've gone insane ... but I promise, I will kill again.MORPH TO:We view a mound of dirt surrounded by twelve lit candles. Suddenly they are blown out.MORPH TO:We return to viewing COOPER tossing and turning in his bed and return to the first portion of the dream ...MORPH TO:INT. WAITING ROOMWe see a large, windowless, well-lit, sparsely furnished, red-draped room with a table and three easy chairs. DALE COOPER, twenty-five years older, sits in one of the chairs. Next to it is a coffee table with a model of Saturn. A LITTLE MAN, three and a half feet tall, in a red suit, stands with his back to COOPER, shaking violently. Two of the easy chairs are close together. Beside them are two tall Saturn lamps. A BEAUTIFUL WOMAN who looks exactly like LAURA PALMER sits across from COOPER in one of those chairs.COPPER stares at the BEAUTIFUL WOMAN and she stares back at him. He turns to look at the LITTLE MAN. The LITTLE MAN stops shaking, turns to COOPER and claps his hands once.', '3', 'BOB');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's rock!The LITTLE MAN moves over and sits in a chair beside the BEAUTIFUL WOMAN.' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Let's rock!The LITTLE MAN moves over and sits in a chair beside the BEAUTIFUL WOMAN. The LITTLE MAN closes his eyes and rubs his hands slowly together, a ringing sound is produced.SOUND EFFECT: SPIRIT PRESENCE RINGING   20KCOOPER looks at the BEAUTIFUL WOMAN, who is still staring at him and smiles enigmatically. She slowly puts a finger to the side of her nose and then slowly lowers her hand, almost pointing at him as it drops. As the LITTLE MAN rubs his hands, a shadow of a bird passes in the background behind the red drapes.Both the LITTLE MAN'S and the BEAUTIFUL WOMAN'S speech is oddly stilted but COOPER'S speech is normal. We see subtitles under them, with the correct words. The LITTLE MAN stops rubbing his hands, opens his eyes, turns to COOPER and says ...', '3', 'LITTLE MAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 've got good news! That gum you like is going to ... come back in style.COOPER si' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I've got good news! That gum you like is going to ... come back in style.COOPER sits quietly listening to him and turns to the BEAUTIFUL WOMAN. The LITTLE MAN turns to look at the WOMAN and then back to COOPER.', '3', 'LITTLE MAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's my cousin, ... but doesn't she look ... almost exactly like Laura Palmer?', '3' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('She's my cousin, ... but doesn't she look ... almost exactly like Laura Palmer?', '3', 'LITTLE MAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's filled with secrets. Where we're from, the birds sing a pretty song ... and th' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('She's filled with secrets. Where we're from, the birds sing a pretty song ... and there's always music in the air.TUNE: DANCE OF THE DREAM MANStrange saxophone music filters into the air. The LITTLE MAN hops off the chair and begins to dance a strange dance. A light, like a strobelight, flashes on and off. The BEAUTIFUL WOMAN rises, goes over, and gently kisses COOPER on the mouth. She then softly whispers something in his ear.CUT TO:INT. DALE COOPER'S HOTEL ROOM - NIGHTCOOPER shoots up out of his bed, waking from this strange and disturbing dream. He turn on the light, fumbles for the phone and dials.', '3', 'LITTLE MAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's Cooper, meet me for breakfast, 7:00 am, at the hotel lobby. I know who killed ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Harry, it's Cooper, meet me for breakfast, 7:00 am, at the hotel lobby. I know who killed Laura Palmer. (reply) No, this can wait till morning.He hangs up and starts to snap his fingers to the sound of the music from his dream.TUNE ENDS: DANCE OF THE DREAM MANFADE OUT:CLOSE:FADE IN:INT. WAITING ROOMTUNE: DANCE OF THE DREAM MANWe watch a bird's-eye view of the LITTLE MAN dancing as the end credits roll.TUNE ENDS: DANCE OF THE DREAM MANFADE TO BLACK:	', '3', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll be heading to the sheriff's after breakfast. Then we'll be going on to Laura ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Diane, 7:15 am, I'll be heading to the sheriff's after breakfast. Then we'll be going on to Laura Palmer's funeral.AUDREY peers around the pole to look at him. With a smile, she turns back and walks off.CUT TO:INT. TIMBER ROOM - DAYWe view a large carved wooden fish hanging above the fireplace wall in the dining area. We PAN down to see AUDREY standing and waiting for COOPER, who comes up to her. She salutes him and says ...', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm in a hurry.', '4', 'AUDREY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'm in a hurry.', '4', 'AUDREY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S signature as she writes it.', '4', 'AUDREY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Okay.AUDREY writes her name down on a napkin and COOPER watches. From his pocket, he removes the note that was slipped under his door and compares the handwriting to AUDREY'S signature as she writes it.', '4', 'AUDREY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's something you'd like to tell me.', '4', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Audrey, there's something you'd like to tell me.', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't exactly friends.', '4', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('You said you and Laura weren't exactly friends.', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't friends but I understood her better then the rest.', '4', 'AUDREY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('We weren't friends but I understood her better then the rest.', '4', 'AUDREY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't know. Laura worked at my father's department store.', '4', 'AUDREY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I don't know. Laura worked at my father's department store.', '4', 'AUDREY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's.', '4', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Horne's.', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's Department Store?', '4', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Where at Horne's Department Store?', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm going to have to ask you to leave now. Police business.', '4', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'm going to have to ask you to leave now. Police business.', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S order as SHERIFF TRUMAN and LUCY reach the table and take a seat.TUNE ENDS: FR' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Thank you for talking to me.AUDREY leaves. TRUDY, a waitress, comes by to take COOPER'S order as SHERIFF TRUMAN and LUCY reach the table and take a seat.TUNE ENDS: FRESHLY SQUEEZED (0:26 - 3:48)', '4', 'AUDREY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's killer. Deputy Hawk sketched his picture. I got a phone call from a one-armed ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('In my dream, Sarah Palmer has a vision of her daughter's killer. Deputy Hawk sketched his picture. I got a phone call from a one-armed man, named Mike. The killer's name was Bob.', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't stand the killing any more so he cut off his arm. Bob vowed to kill again so M' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('No, its different Mike and a different Bob. They lived above a convenience store. They had a tattoo, fire walk with me. Mike couldn't stand the killing any more so he cut off his arm. Bob vowed to kill again so Mike shot him. Do you know where dreams come from?', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S dream as we hear his voice describing the dream. A large, windowless, well-lit' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Suddenly it was twenty five years later. I was old sitting in a red room.CUT TO:TUNE: DANCE OF THE DREAM MANINT. WAITING ROOMWe review the last portion from COOPER'S dream as we hear his voice describing the dream. A large, windowless, well-lit, sparsely furnished, red-draped room with a table and three easy chairs. DALE COOPER, twenty-five years older, sits in one of the chairs. A light, like a strobelight, flashes on and off. A BEAUTIFUL WOMAN who looks exactly like LAURA PALMER, slowly moves over to COOPER.', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't his cousin look exactly like Laura Palmer, which she did.', '4', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('There was a midget in a red suit and a beautiful woman. The little man told me that my favorite gum was coming back into style and didn't his cousin look exactly like Laura Palmer, which she did.', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's filled with secrets, sometimes her arms bend back, where she's from the birds ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('The beautiful woman. She's filled with secrets, sometimes her arms bend back, where she's from the birds sing a pretty song and there's always music in the air. The midget did a dance, Laura kissed me and she whispered the name of the killer in my ear.TUNE ENDS: DANCE OF THE DREAM MANCUT TO:INT. TIMBER ROOM - DAY', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't remember.', '4', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(takes a sip of coffee) Ahh, I don't remember.', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)

(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't ruin this too.', '4', 'SARAH')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(to LELAND) Don't ruin this too.', '4', 'SARAH');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME    FADE OUT:FADE IN:EXT. STREET INTERSECTION - NIGHTWe view a lonely str' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(crying) My baby. Laura.COOPER and SHERIFF TRUMAN try to reach for LELAND as the casket continues to move up and down in the grave.TUNE ENDS: LAURA PALMER'S THEME    FADE OUT:FADE IN:EXT. STREET INTERSECTION - NIGHTWe view a lonely street intersection with its lights changing signals with the sound of blowing wind.CUT TO:EXT. DOUBLE R DINER - NIGHTTUNE: DANCE OF THE DREAM MAN (VARIANT)We view a CLOSEUP of the 'RR' red neon sign.CUT TO:INT. DOUBLE R DINER - NIGHTAt the counter, SHELLY JOHNSON retells the scene at the funeral to two customers having a meal. Using a metal napkin dispenser and her hand, making an inverted peace sign, she visually shows what happened. ', '4', 'LELAND');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'small man' onto the dispenser.', '4', 'SHELLY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('This is the father (her hand) and this is the daughter in the coffin (napkin dispenser).With her hand, SHELLY uses it to look like a small man on the edge of the counter. With her free hand she is holding the napkin dispenser off the counter but to the edge. Next, she shows how LELAND jumped on the casket by dropping her 'small man' onto the dispenser.', '4', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'small man' on top. SHELLY also provides the sound effects of crying and of the b' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Boom.She finishes by raising and lowering the napkin dispenser with her 'small man' on top. SHELLY also provides the sound effects of crying and of the broken machinery. The two customers laugh at it all.We PAN to a booth in the background were BIG ED, SHERIFF TRUMAN and DEPUTY HAWK are seated. The table has three empty pie plates and cups of coffee.', '4', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm telling you Harry. He's just not going to figure this out.', '4', 'BIG ED')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'm telling you Harry. He's just not going to figure this out.', '4', 'BIG ED');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's a bet I'll take for the check. (COOPER enters) He's right on time.', '4', 'SHE' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Ed, that's a bet I'll take for the check. (COOPER enters) He's right on time.', '4', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's just not one of us.', '4', 'BIG ED')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Harry, careful who you trust. He's just not one of us.', '4', 'BIG ED');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't say a word. He just looks over to HAWK and SHERIFF TRUMAN, who is smiling.TUNE' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Big Ed, how long have you been in love with Norma?Completely surprised, BIG ED doesn't say a word. He just looks over to HAWK and SHERIFF TRUMAN, who is smiling.TUNE ENDS: DANCE OF THE DREAM MAN (VARIANT)', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's on you.BIG ED grabs the check on the table.', '4', 'SHERIFF TRUMAN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Ed, looks like pie and coffee's on you.BIG ED grabs the check on the table.', '4', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 've been working this for six months trying to set up a bust: top to bottom, nobo' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Somebody running drugs into Twin Peaks from across the border. We've been working this for six months trying to set up a bust: top to bottom, nobody walks.', '4', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's targeted?', '4', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Who's targeted?', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's been doing some undercover. In fact, the night you got into town he was stakin' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Jacques Renault, bartender at the Roadhouse. We figure him for the middle man. Now Ed's been doing some undercover. In fact, the night you got into town he was staking Renault out. We think Renault slipped him a mickey.', '4', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't know you were a deputy.', '4', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Ed, I didn't know you were a deputy.', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's not.COOPER looks at SHERIFF TRUMAN, a little surprised, then returns to BIG ED' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('He's not.COOPER looks at SHERIFF TRUMAN, a little surprised, then returns to BIG ED.', '4', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's a little outside your jurisdiction, don't you think?', '4', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Well that's a little outside your jurisdiction, don't you think?', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's everybody's jurisdiction.', '4', 'BIG ED')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Somebody selling drugs to high school kids and I figure that's everybody's jurisdiction.', '4', 'BIG ED');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's not the only one I call.NORMA arrives with COOPER'S pie and a pot of coffee. C' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I call Ed in when I need him. He's not the only one I call.NORMA arrives with COOPER'S pie and a pot of coffee. COOPER digs right into his pie as she fills his cup with coffee.', '4', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME    ', '4', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(relishing) Mmm, this must be where pies go when they die. Mmm.TUNE: LAURA PALMER'S THEME    ', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm with you.', '4', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'm with you.', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 've noticed that.', '4', 'SHERIFF TRUMAN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Twin Peaks is different, a long way from the world. You've noticed that.', '4', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's exactly the way we like it but there's a ... back end to that that's kind of d' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('That's exactly the way we like it but there's a ... back end to that that's kind of different too. Maybe that's the price we pay for all the good things.', '4', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's a sort of evil out there. Something very, very strange in these old woods. Cal' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('There's a sort of evil out there. Something very, very strange in these old woods. Call it what you want. A darkness, a presence. It takes many forms but ... its been out there for as long as anyone can remember and we've always been here to fight it.', '4', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 're gone.', '4', 'SHERIFF TRUMAN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Men before us, men before them and after we're gone.', '4', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't we take Agent Cooper for a little ride.TUNE ENDS: LAURA PALMER'S THEME    ', '' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Why don't we take Agent Cooper for a little ride.TUNE ENDS: LAURA PALMER'S THEME    ', '4', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's free.', '4', 'SHERIFF TRUMAN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('The Bookhouse Boys. The coffee's free.', '4', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'd ask him a few questions.JOEY removes the gag over BERNARD'S mouth.', '4', 'SHE' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Bernard Renault, Jacques brother, janitor at the Roadhouse. Bernard came across the border this morning with an ounce of cocaine in his kitbag. I thought we'd ask him a few questions.JOEY removes the gag over BERNARD'S mouth.', '4', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't sell drugs.', '4', 'BERNARD')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I don't sell drugs.', '4', 'BERNARD');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't pay me nothing. I'm no mule.', '4', 'BERNARD')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Jacques don't pay me nothing. I'm no mule.', '4', 'BERNARD');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's right.', '4', 'BERNARD')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('That's right.', '4', 'BERNARD');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't get a whole lot of sleep at night then, huh Bernie.', '4', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I guess you don't get a whole lot of sleep at night then, huh Bernie.', '4', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't come into work the last few days. Where's he been?', '4', 'SHERIFF TRUMAN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Your brother didn't come into work the last few days. Where's he been?', '4', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't know. He got personal business.', '4', 'BERNARD')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I don't know. He got personal business.', '4', 'BERNARD');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't you ask him yourself? He be back tonight, in a minute.', '4', 'BERNARD')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Why don't you ask him yourself? He be back tonight, in a minute.', '4', 'BERNARD');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's coming to work at the Roadhouse?', '4', 'SHERIFF TRUMAN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('He's coming to work at the Roadhouse?', '4', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't he.', '4', 'BERNARD')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('He the bartender isn't he.', '4', 'BERNARD');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CARRY - NIGHTAt a payphone on the outside wall of the convenience store, JACQUES' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(over the phone) Leo, ...CUT TO:EXT. CASH N' CARRY - NIGHTAt a payphone on the outside wall of the convenience store, JACQUES speaks, with a slight French-Canadian accent, to LEO.', '4', 'JACQUES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's up?', '4', 'LEO')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(over the phone) What's up?', '4', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's on. Bernard's in trouble.CUT TO:INT. JOHNSON HOUSE - NIGHT', '4', 'JACQUES')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('The light, the bust light's on. Bernard's in trouble.CUT TO:INT. JOHNSON HOUSE - NIGHT', '4', 'JACQUES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CARRY - NIGHT', '4', 'JACQUES')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(over the phone) I saw it man.CUT TO:EXT. CASH N' CARRY - NIGHT', '4', 'JACQUES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Carry.CUT TO:EXT. CASH N' CARRY - NIGHT', '4', 'JACQUES')' at line 1")

(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll fight him all the way up the chain to Washington.DEPUTY ANDY walks into the r' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('And you tell Albert that if he wants to pursue this I'll fight him all the way up the chain to Washington.DEPUTY ANDY walks into the room.', '5', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't get excited and hang up on me now.', '5', 'GORDON')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Cooper? Coop, don't get excited and hang up on me now.', '5', 'GORDON');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't ... get a whole lot of sleep last night.', '5', 'SHERIFF TRUMAN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Thanks. I didn't ... get a whole lot of sleep last night.', '5', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm here, is some city slicker I brought into your town relieving himself upstream' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Harry, the last thing I want you to worry about, while I'm here, is some city slicker I brought into your town relieving himself upstream.ANDY hands COOPER the drawing he produces using SARAH'S description from her vision.', '5', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's vision were connected. I didn't go with you this morning because I didn't want' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I had an intuition that my dream and Sarah Palmer's vision were connected. I didn't go with you this morning because I didn't want to influence her. I'm a strong sender. (to ANDY) The eyes were a bit closer together.The intercom buzzes and LUCY can be heard from the speaker.', '5', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's found our one-armed man.CUT TO:EXT. TIMBER FALLS MOTEL - DAYTUNE: FRESHLY SQUE' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Hawk's found our one-armed man.CUT TO:EXT. TIMBER FALLS MOTEL - DAYTUNE: FRESHLY SQUEEZED (0:26 - 3:48) (UP TEMPO VARIANT)   28KWe view the front of the motel. A maid is pushing a cart near the rooms. A woodpecker can be heard in the background.CUT TO:EXT. TIMBER FALLS MOTEL - DAYIn a parked car in the parking lot of the motel, JOSIE takes photographs. A woodpecker can be heard in the background.CUT TO:INT. TIMBER FALLS MOTEL - DAYIn one of the motel rooms, we view a CLOSEUP of CATHERINE MARTELL, in a robe. We PAN down to see that she is rubbing the back of BENJAMIN HORNE, who is laying face down bare back on a bed. In the background, the television program 'Invitation to Love' can be heard.', '5', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's face, opening the safe for her lawman Romeo. To show him the double set of boo' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I wished I could have seen Josie's face, opening the safe for her lawman Romeo. To show him the double set of books ...TUNE ENDS: FRESHLY SQUEEZED (0:26 - 3:48) (UP TEMPO VARIANT)   28K', '5', 'CATHERINE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 've been slowing cooking.', '5', 'CATHERINE')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('... and all she finds is the one I've been slowing cooking.', '5', 'CATHERINE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's the book that spells bankruptcy.', '5', 'BENJAMIN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Where's the book that spells bankruptcy.', '5', 'BENJAMIN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't be so ...', '5', 'EMERALD')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(from the television) Oh darling don't be so ...', '5', 'EMERALD');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's a drop panel on the top drawer. Not even Pete the poodle knows about that one.' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('There's a drop panel on the top drawer. Not even Pete the poodle knows about that one. I'm famished.CATHERINE and BENJAMIN take a sip of wine. We can hear the television program.', '5', 'CATHERINE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's get one thing straight I didn't spend the evening busting up the Amazons by do' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(from the television) Let's get one thing straight I didn't spend the evening busting up the Amazons by dodging blow darts ...', '5', 'MONTANA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's suite at the Great Northern.', '5', 'BENJAMIN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('You would prefer the lumber baron's suite at the Great Northern.', '5', 'BENJAMIN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'd prefer getting on with setting the torch to that damn mill.CUT TO:EXT. TIMBER ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'd prefer getting on with setting the torch to that damn mill.CUT TO:EXT. TIMBER FALLS MOTEL - DAYSHERIFF TRUMAN and COOPER drive up in TRUMAN'S police cruiser. DEPUTY TOMMY 'THE HAWK' HILL comes up to them as they drive up. A woodpecker can be heard in the background. As SHERIFF TRUMAN steps out, HAWK points and says ...', '5', 'CATHERINE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's here at the motel. Room 101, last name is Gerard.CUT TO:INT. TIMBER FALLS MOTE' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Harry, he's here at the motel. Room 101, last name is Gerard.CUT TO:INT. TIMBER FALLS MOTEL ROOM - DAYBENJAMIN and CATHERINE lie at the foot of the bed.', '5', 'HAWK');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 're after is Josie Packard torches bankrupt mill in insurance fraud. Not giant wi' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Now when the mill goes up in smoke. The headline that we're after is Josie Packard torches bankrupt mill in insurance fraud. Not giant wienie roast in the woods.CATHERINE laughs. He nudges her on.', '5', 'BENJAMIN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't move!ONE-ARMED MANOh my god!', '5', 'SHERIFF TRUMAN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Don't move!ONE-ARMED MANOh my god!', '5', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's any blood shed.We see what BENJAMIN is holding a small doll with the likeness ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('You uh ... let me know if there's any blood shed.We see what BENJAMIN is holding a small doll with the likeness of Elvis. He picks up his folded clothes off the bed. Unknowingly something falls out of the pocket of his pants to the floor. CATHERINE notices it. BENJAMIN wiggles the doll in his hand at her and says ...', '5', 'BENJAMIN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm going to give little Elvis ... a bath.He puts the doll in his robe pocket and ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'm going to give little Elvis ... a bath.He puts the doll in his robe pocket and walks to the bathroom.TUNE: THE BOOKHOUSE BOYS (2:12 - 2:31) (DRAMATIC VARIANT)   32KCATHERINE gets up to pick up the item and sees that it is a poker chip. A thousand dollar poker chip from One-Eyed Jacks.TUNE ENDS: THE BOOKHOUSE BOYS (2:12 - 2:31) (DRAMATIC VARIANT)   32KCUT TO:TUNE: LAURA PALMER'S THEME    INT. TIMBER FALLS MOTEL ROOM - DAYSHERIFF TRUMAN and COOPER stand next to a seated ONE-ARMED MAN, MR. GERARD, who is looking at the drawing of the man from SARAH'S vision.', '5', 'BENJAMIN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't know him? You know this man.ONE-ARMED MANNo sir. I've never seen that man befo' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('What do mean you don't know him? You know this man.ONE-ARMED MANNo sir. I've never seen that man before in my life ...TUNE ENDS: LAURA PALMER'S THEME    ONE-ARMED MAN... but you know something he ... he kinda looks like somebody. Doesn't he?', '5', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's in a coma.', '5', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Why have you been at the hospital the past two days?ONE-ARMED MANBob's in a coma.', '5', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's Bob. (nods)', '5', 'SHERIFF TRUMAN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('There was a Lydecker assaulted three days ago outside a bar. In Lowtown.ONE-ARMED MANThat's Bob. (nods)', '5', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's just about the best dern veterinarian in these parts?HAWK is on the phone near' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Is your friend Bob a doctor?ONE-ARMED MANHe's just about the best dern veterinarian in these parts?HAWK is on the phone near a bedside stand.', '5', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's clean, no record, no warrants.HAWK tosses MR. GERARD'S wallet to SHERIFF TRUMA' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Thanks. (hangs up) He's clean, no record, no warrants.HAWK tosses MR. GERARD'S wallet to SHERIFF TRUMAN, who hands it to COOPER. COOPER scans it over before handing it to MR. GERARD. SHERIFF TRUMAN gives HAWK an order.', '5', 'HAWK');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'd you lose the arm?ONE-ARMED MANCar accident. I was on the road from Memphis to ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('How'd you lose the arm?ONE-ARMED MANCar accident. I was on the road from Memphis to ... uh ... someplace. Selling pharmaceuticals. (waxing enthusiasm) Pretty good job.A commotion of rumbling comes from the side of the room. We view ANDY slightly embarrassed as he fumbled in opening the suitcase causing its contents of shoes to spill out onto the table and the floor.ONE-ARMED MANThat's what I'm selling these days. Everybody needs shoes.', '5', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's this all about? I'm a shoe salesman.', '5', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('The arm you lost, did it have a tattoo?ONE-ARMED MANWhat's this all about? I'm a shoe salesman.', '5', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't tell us, we can find out. What did it say?ONE-ARMED MAN(moved to tears) It sai' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('If you won't tell us, we can find out. What did it say?ONE-ARMED MAN(moved to tears) It said ... Mom. (cries)CUT TO:EXT. TIMBER FALLS MOTEL - DAYIn the parking lot, SHERIFF TRUMAN, COOPER and ANDY walk over to their cars. DEPUTY HAWK, kneeling near a puddle of oil, calls SHERIFF TRUMAN over. In the background a woodpecker can be heard.', '5', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'got?', '5', 'SHERIFF TRUMAN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(walks over to him) What ya' got?', '5', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's bathroom, DONNA applies lipstick as AUDREY walks in and lights up a cigarette.' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Car was already staked out when I got here. It was Josie Packard.CUT TO:TUNE: FRESHLY SQUEEZEDEXT. TWIN PEAKS HIGH SCHOOL - DAYWe view the front of the school and its sign.CUT TO:INT. TWIN PEAKS HIGH SCHOOL - DAYIn a girl's bathroom, DONNA applies lipstick as AUDREY walks in and lights up a cigarette. The bathroom has one wall lined with mirrors and sinks. The other side of the room is lined with toilet stalls. The walls and doors of the bathroom are decorated with two red lines that wrap around the room and form two peaks at intervals.', '5', 'HAWK');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 've been doing some research. In real life there is no algebra.', '5', 'AUDREY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I've been doing some research. In real life there is no algebra.', '5', 'AUDREY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll realize that I'm the woman of his dreams because I'm going to help him figure' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Maybe ... or maybe he'll realize that I'm the woman of his dreams because I'm going to help him figure out who killed Laura.', '5', 'AUDREY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's back.DONNA is now combing her hair.', '5', 'AUDREY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('... and your gonna help me. Fact; Laura was seeing James Hurley behind Bobby's back.DONNA is now combing her hair.', '5', 'AUDREY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's not such a big secret.', '5', 'DONNA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Well I guess that's not such a big secret.', '5', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't know Laura half as well as you and I knew the score, Laura was wild. Come on w' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I didn't know Laura half as well as you and I knew the score, Laura was wild. Come on will you help me?', '5', 'AUDREY');]
(Background on this error at: https://sqlalche.me/e/14/f405)

(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's?She fiddles with the shirt trying to find the collar and reveals 'LJ'.', '5', ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Are you sure this is Leo's?She fiddles with the shirt trying to find the collar and reveals 'LJ'.', '5', 'BOBBY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't need to know. I'm going to take this, okay. You never saw this. Say it. I neve' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('You don't need to know. I'm going to take this, okay. You never saw this. Say it. I never saw it.', '5', 'BOBBY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's not going to be a problem for us anymore. Just stay clear of him, keep quiet.S' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Leo's not going to be a problem for us anymore. Just stay clear of him, keep quiet.She moves back to the cabinet, reaches into the stash compartment and pulls out a gun.', '5', 'BOBBY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S DEPARTMENT - DAYWe view AGENT COOPER, SHERIFF TRUMAN, DEPUTY HAWK and DEPUTY A' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I thought you could teach me. Teach me Bobby.BOBBY lustily stares at her, spits his gum out to the floor and moves to her.TUNE ENDS: FRESHLY SQUEEZED (0:26 - 3:48)CUT TO:INT. TWIN PEAKS SHERIFF'S DEPARTMENT - DAYWe view AGENT COOPER, SHERIFF TRUMAN, DEPUTY HAWK and DEPUTY ANDY enter the building. COOPER, HAWK and ANDY are carrying boxes of files from the veterinarian clinic.', '5', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'em right into the conference room.SHERIFF TRUMAN moves to the reception window t' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Fellas, take'em right into the conference room.SHERIFF TRUMAN moves to the reception window to speak to LUCY.', '5', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll start going through files then.CUT TO:INT. TWIN PEAKS SHERIFF'S DEPARTMENT - ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Okay, I'll start going through files then.CUT TO:INT. TWIN PEAKS SHERIFF'S DEPARTMENT - DAYIn the conference room, we watch HAWK, ANDY and COOPER place the boxes of files, marked 'Lydecker Clinic', on and around the conference table. ANDY speaks to COOPER.', '5', 'LUCY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm so sorry I don't know what happened. My gun just slipped out of my hand.', '5'' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Agent Cooper I'm so sorry I don't know what happened. My gun just slipped out of my hand.', '5', 'ANDY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't. I can't explain what happened. I've been feeling a little high strung.', '5',' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('No sir, I haven't. I can't explain what happened. I've been feeling a little high strung.', '5', 'ANDY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll take care of that.SHERIFF TRUMAN pokes his head through the open door of the ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Well, it was lack of preparation. We'll take care of that.SHERIFF TRUMAN pokes his head through the open door of the conference room.', '5', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S shoulder before he and SHERIFF TRUMAN walk off.CUT TO:INT. TWIN PEAKS SHERIFF'' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Andy, get some ammunition from the lock box. Meet us downstairs at the pistol range.COOPER pats ANDY'S shoulder before he and SHERIFF TRUMAN walk off.CUT TO:INT. TWIN PEAKS SHERIFF'S DEPARTMENT - DAYIn the hallway, COOPER and SHERIFF TRUMAN pass LUCY, who is carrying a plant watering pitcher. ANDY enters the hall and moves over to LUCY.', '5', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S cold reply.CUT TO:INT. TWIN PEAKS SHERIFF'S DEPARTMENT - DAYIn the pistol rang' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I would like to chat but I am now under orders to examine these files. So if you excuse me please.LUCY walks off. ANDY is again bothered by LUCY'S cold reply.CUT TO:INT. TWIN PEAKS SHERIFF'S DEPARTMENT - DAYIn the pistol range, we watch COOPER, SHERIFF TRUMAN and DEPUTY HAWK enter and pass Christmas decorations stored at the sides of the entrance to the room. COOPER is loading his gun as he speaks.', '5', 'LUCY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's murder was vicious and calculated. There's no telling what we'll encounter bri' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Laura Palmer's murder was vicious and calculated. There's no telling what we'll encounter bringing a suspect to ground. After Andy's mishap at the motel. I want to make absolutely certain each of us is comfortable and confident with our firearms.HAWK notices COOPER'S gun before he puts it back in its holster.', '5', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't speak to me and I don't know why ... and I don't know why she doing what she's' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('She won't speak to me and I don't know why ... and I don't know why she doing what she's doing. I just can't figure her out.', '5', 'ANDY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's no logic at work here Andy. Let that one go. In the grand design women were dr' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Well there's no logic at work here Andy. Let that one go. In the grand design women were drawn from a different set of blueprints.', '5', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S target sheet has no holes) Andy what we need is practice and lots of it. One h' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Hawk, six for six. Two kills, high marks. Andy. (ANDY'S target sheet has no holes) Andy what we need is practice and lots of it. One hour, three times a week. Harry you'll supply the ordinance.', '5', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME (ONE INSTRUMENT V2)', '5', 'SHERIFF TRUMAN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('You ever been married Cooper?SHERIFF TRUMAN pulls out his gun and checks it.TUNE: LAURA PALMER'S THEME (ONE INSTRUMENT V2)', '5', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm looking at the files from Dr. Lydecker's and, for instance, I have here in the' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Agent Cooper, I'm looking at the files from Dr. Lydecker's and, for instance, I have here in the 'A's an Arky who's a part poodle part rottweiler, who lives on Maple and belongs to Mr. Rumple. Then, for example, I have an Annette who's an otter, who lives with a family near Elk river.', '5', 'LUCY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't understand. Their organized alphabetically in the names of the pets.COOPER rea' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('No no you don't understand. Their organized alphabetically in the names of the pets.COOPER realizes that finding the bird is going to take quite a while.', '5', 'LUCY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 're going to need some more coffee.CUT TO:INT. DOUBLE R DINER - DAYAt the counter' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('We're going to need some more coffee.CUT TO:INT. DOUBLE R DINER - DAYAt the counter, NORMA picks up a dirty plate and silverware as TOAD, a large and usual customer, drops some change for a tip. A country music tune plays in the background.', '5', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll be sure to get this into my retirement fund A-S-A-P.SHELLY enters the diner, ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Thanks Toad. I'll be sure to get this into my retirement fund A-S-A-P.SHELLY enters the diner, lifts the counter-door, passes and drops it behind her with a slam.', '5', 'NORMA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 've got one man two many in my life and I'm married to him. Sound familiar.', '5'' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I've got one man two many in my life and I'm married to him. Sound familiar.', '5', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't talk, he hits. (fiddles with her ring) He was so great at first, you know. Thi' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Leo doesn't talk, he hits. (fiddles with her ring) He was so great at first, you know. This flashy guy in his hot car. Then we get married and I find out all he was looking for was a maid he didn't have to pay. I feel so stupid.', '5', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't know what to do with any of the four of them.', '5', 'NORMA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(hugs SHELLY) Look at us. Two men apiece and we don't know what to do with any of the four of them.', '5', 'NORMA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's hearing go?', '5', 'SHELLY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('So how did Hank's hearing go?', '5', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 're going to do Shelly, tomorrow? You and I are going to have a day of beauty. A ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('You know what we're going to do Shelly, tomorrow? You and I are going to have a day of beauty. A manicure, a facial, we're going to have our hair done. The works. We're going to be the knockouts of the Double R. And its my treat.', '5', 'NORMA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll be right in okay, its James.DR. HAYWARDOh.', '5', 'DONNA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Just a sec daddy. I'll be right in okay, its James.DR. HAYWARDOh.', '5', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 're having this church pot luck dinner here tonight.DR. HAYWARDWell tell him to g' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(to JAMES) Hi, we're having this church pot luck dinner here tonight.DR. HAYWARDWell tell him to get over here. I need help. SOS.', '5', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't think I'd be very good company.', '5', 'JAMES')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I don't think I'd be very good company.', '5', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm going to get something to eat and then I'll be over in a little bit.', '5', 'J' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'm going to get something to eat and then I'll be over in a little bit.', '5', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't notice but then turns to face him and says ...', '5', 'DONNA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(over the phone) Okay, bye.JAMES hangs up the phone and walks over to the woman. Its MADELEINE standing by the counter waiting for her food order to arrive. JAMES stands right to the side of her and stares at her. At first she doesn't notice but then turns to face him and says ...', '5', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's Madeleine Ferguson. Laura was my cousin.', '5', 'MADELEINE')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('My name's Madeleine Ferguson. Laura was my cousin.', '5', 'MADELEINE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't seen each other much ... recently. I live in Missoula. Did you know Laura well' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Laura and I hadn't seen each other much ... recently. I live in Missoula. Did you know Laura well?', '5', 'MADELEINE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME (ONE INSTRUMENT V1)', '5', 'SHELLY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Mm-hmm.MADELEINE picks up her food order and holds it in her arms as she speaks to JAMES.TUNE: LAURA PALMER'S THEME (ONE INSTRUMENT V1)', '5', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm picking up food for my aunt and uncle. Aunt Sarah can't cook right now and unc' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'm picking up food for my aunt and uncle. Aunt Sarah can't cook right now and uncle Leland's up half the night listening to old music and crying and stuff ... but if I was cooking for them they'd be doing even worse. (laughs)JAMES still stares at her.', '5', 'MADELEINE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'd pretend we were sisters. I wish I'd known her better. It's so sad. Well, it wa' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('We used to come visit Twin Peaks when I was a kid. It was great. We'd pretend we were sisters. I wish I'd known her better. It's so sad. Well, it was nice to meet you James Hurley.They shake hands.', '5', 'MADELEINE');]
(Background on this error at: https://sqlalche.me/e/14/f405)

(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'J'.', '5', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Something with the letter 'J'.', '5', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll get his home address.', '5', 'HAWK')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'll get his home address.', '5', 'HAWK');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's make a house call.CUT TO:TUNE: FRESHLY SQUEEZED (DARK VARIANT)   46KEXT. TENNI' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Gentlemen, when two separate events occur simultaneously pertaining to the same object of inquiry (slams the file to the table) we must always pay strict attention. Fellas let's make a house call.CUT TO:TUNE: FRESHLY SQUEEZED (DARK VARIANT)   46KEXT. TENNIS COURTS - NIGHTFrom a distance we view two people playing tennis. We PAN to a CLOSEUP of AGENT COOPER'S face.CUT TO:EXT. APARTMENT BUILDING - NIGHTWe watch AGENT COOPER, SHERIFF TRUMAN and DEPUTY HAWK run toward the building from their cars. COOPER leads the way to the apartment complex, a two story structure lit by lights and surrounded by pine trees. When they reach the building they run up a stairway to the second level.CUT TO:EXT. JACQUES RENAULT'S APARTMENT - NIGHTAt the door to JACQUES apartment, COOPER has his gun drawn and pointed at the door as SHERIFF TRUMAN shouts.', '5', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S APARTMENT - NIGHTWe view a CLOSEUP of BOBBY'S face as he hears the cops outsid' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Jacques, its Harry Truman! Open the door!CUT TO:INT. JACQUES RENAULT'S APARTMENT - NIGHTWe view a CLOSEUP of BOBBY'S face as he hears the cops outside and looks around trying to find a way out. He see a window, rushes to it, slam it open and crawls out.CUT TO:EXT. APARTMENT BUILDING - NIGHTBOBBY lands to the ground and runs off into the distance.CUT TO:EXT. JACQUES RENAULT'S APARTMENT - NIGHTSHERIFF TRUMAN kicks the door in. With their guns drawn they rush inside. HAWK runs to the open window.', '5', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's headed around the side.', '5', 'HAWK')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('He's headed around the side.', '5', 'HAWK');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S APARTMENT - NIGHTCOOPER puts on a pair of latex gloves.', '5', 'SHERIFF TRUMAN' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Go get him.HAWK runs out of the room.CUT TO:EXT. APARTMENT BUILDING - NIGHTBehind the apartment building we view a police cruiser, with its lights and siren on, drive after the person who they believe is JACQUES.CUT TO:INT. JACQUES RENAULT'S APARTMENT - NIGHTCOOPER puts on a pair of latex gloves.', '5', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's get forensics and seal this room Harry.COOPER spots a blue work shirt, planted' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Let's get forensics and seal this room Harry.COOPER spots a blue work shirt, planted there by BOBBY, sticking half way out of a drawer. SHERIFF TRUMAN'S portable police radio buzzes. He picks it up to listen.', '5', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'LJ'. Leo Johnson. Leo Johnson and Jacques Renault.', '5', 'COOPER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES (''LJ'. Leo Johnson. Leo Johnson and Jacques Renault.', '5', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's our connection.CUT TO:EXT. RIVER - NIGHTIn the moonlight, through some trees w' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('That's our connection.CUT TO:EXT. RIVER - NIGHTIn the moonlight, through some trees we watch a running river.CUT TO:EXT. WOODS NEAR RIVER - NIGHTWe view a PAN of the area and see LEO'S red corvette. LEO stands facing the river while smoking a cigarette. The music comes to a peak just before its ends as BENJAMIN appears and pats LEO on the shoulder, scaring him. LEO quickly turns around. BENJAMIN puts his hands up to show no aggression.TUNE ENDS: FRESHLY SQUEEZED (DARK VARIANT)   46K', '5', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't like it. Get somebody else.', '5', 'LEO')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Don't like it. Get somebody else.', '5', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm out ten thousand dollars. Maybe that's peanuts to you. Not to me.', '5', 'LEO'' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Hey I'm out ten thousand dollars. Maybe that's peanuts to you. Not to me.', '5', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'glue sniffing squish heads, Leo.', '5', 'BENJAMIN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Your in business with a couple a' glue sniffing squish heads, Leo.', '5', 'BENJAMIN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's staying there. Jacques was the brains in the outfit. Bernie made bail this mor' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Jacques back in Canada. We had a long talk, he's staying there. Jacques was the brains in the outfit. Bernie made bail this morning on possession.', '5', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'd kill him.', '5', 'LEO')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I told him if he ever did I'd kill him.', '5', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't have trusted me but like I said Bernie wasn't too bright.', '5', 'LEO')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Nah, he shouldn't have trusted me but like I said Bernie wasn't too bright.', '5', 'LEO');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't disappoint me.', '5', 'BENJAMIN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Okay, one last chance Leo. Don't disappoint me.', '5', 'BENJAMIN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'arson'. Block letters about uh ... six feet high.', '5', 'BENJAMIN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Keep it simple. (bites the end of the cigar) Insurance investigators should read 'arson'. Block letters about uh ... six feet high.', '5', 'BENJAMIN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't find the necklace.', '5', 'DONNA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('She said she saw it. She said she had a vision and she saw someone take it.He can't find the necklace.', '5', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's nothing.', '5', 'JAMES')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Donna.He digs a little deeper and also scatters dirt around trying to feel for it but there's nothing.', '5', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'd have these dreams, Laura did too.A hoot from an owl spooks them and they look ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Laura used to say that her mother was kinda of spooky. She used to see things. She'd have these dreams, Laura did too.A hoot from an owl spooks them and they look around trying to see where it came from. They look up and see ...CUT TO:EXT. OWL PERCHED IN TREE - NIGHTA large owl with yellow eyes perched in a tree above JAMES and DONNA peers down at them.CUT TO:TUNE ENDS: SECRET MEETINGSEXT. WOODS - NIGHTJAMES and DONNA both look at each other.', '5', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME    ', '5', 'DONNA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('You mean the police?TUNE: LAURA PALMER'S THEME    ', '5', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't love Laura. Nobody loved her but us.', '5', 'DONNA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('James the police didn't love Laura. Nobody loved her but us.', '5', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm going to see her. I think that, you know, I'm going to catch a glimpse of her ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I keep thinking I'm going to see her. I think that, you know, I'm going to catch a glimpse of her out of the corner of my eye. Sometimes its like I really do see her.', '5', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 're going to find out who killed her. This is about us. We have to do this for us' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('James listen. We're going to find out who killed her. This is about us. We have to do this for us not just for her.Still kneeling, they bend toward each other and kiss.', '5', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't get away.', '5', 'SHERIFF TRUMAN')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(over the phone) We just got a break in the Palmer case. I can't get away.', '5', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S APARTMENT - NIGHTSHERIFF TRUMAN speaks to JOSIE over the phone.', '5', 'SHERIF' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(over the phone) I want to talk to you too but ...CUT TO:INT. JACQUES RENAULT'S APARTMENT - NIGHTSHERIFF TRUMAN speaks to JOSIE over the phone.', '5', 'SHERIFF TRUMAN');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME    CUT TO:INT. BLUE PINE LODGE - NIGHTPETE sits on a stool at the kitche' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(over the phone) Goodbye. (hangs up)SHERIFF TRUMAN hangs up the phone disappointed by her response.TUNE ENDS: LAURA PALMER'S THEME    CUT TO:INT. BLUE PINE LODGE - NIGHTPETE sits on a stool at the kitchen counter sorting the mail. JOSIE walks up to him.', '5', 'JOSIE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm so tired I ...She incorrectly finishes his sentence.', '5', 'PETE')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Oh, cut some wood, made some lumber. I'm so tired I ...She incorrectly finishes his sentence.', '5', 'PETE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's fantastic Josie. Uhm, is Catherine asleep?', '5', 'PETE')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Oh that's fantastic Josie. Uhm, is Catherine asleep?', '5', 'PETE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm defending champion and this year their adding a mixed doubles division and I t' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('No, to catch. See the Fishing Association ... their annual duals coming up and I'm defending champion and this year their adding a mixed doubles division and I thought ... well if-if you were interested uh ... what the heck. Would you like to partner up with me?She walks over to PETE carrying a plate with his turkey sandwich.', '5', 'PETE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't know the first step about fishing.', '5', 'JOSIE')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Wow Pete. I don't know the first step about fishing.', '5', 'JOSIE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's enough fishing in me for the both of us. Well what do you think?', '5', 'PETE'' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Oh Josie, there's enough fishing in me for the both of us. Well what do you think?', '5', 'PETE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's give it the run of the money. (smile)', '5', 'JOSIE')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Sure Pete. Let's give it the run of the money. (smile)', '5', 'JOSIE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'gal. Here (hands her the mail, picks up his sandwich). I'm going to hit the hay.' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(very happy) Josie your my kinda' gal. Here (hands her the mail, picks up his sandwich). I'm going to hit the hay.', '5', 'PETE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME    She pauses as she picks one letter out of the rest, slowly opens it a' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Sweet dreams Josie.PETE walks off. JOSIE goes through the mail.TUNE: LAURA PALMER'S THEME    She pauses as she picks one letter out of the rest, slowly opens it and pulls out a black and white sketch of a double three domino. HANK'S domino. She walks out of the kitchen and towards the library.CUT TO:INT. BLUE PINE LODGE - DAYIn the library, the telephone rings just as JOSIE walks besides a huge stuffed bear set in a ferocious stance. She answers the phone.', '5', 'PETE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME    FADE OUT:CLOSE:FADE IN:TUNE: LAURA PALMER'S THEME    We view LAURA PA' at line 1")

(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm sorry.', '6', 'DONNA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'm sorry.', '6', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's an alcoholic. If you have a problem with this I know you didn't ask to hear it' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('My mom is a writer. She was really good; poems and short stories. She's an alcoholic. If you have a problem with this I know you didn't ask to hear it.', '6', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't have a problem. You tell me.', '6', 'DONNA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(nods no) I don't have a problem. You tell me.', '6', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't traveling. What she does is, she goes to another town, shacks up in some cheap' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Its true, she was out of town this week but ... she wasn't traveling. What she does is, she goes to another town, shacks up in some cheap hotel with a couple of bottles and (look away) ... picks up guys and ...Tears form in his eyes. He walks away, still in the gazebo, to look at the lake. DONNA moves to him and hugs him from behind.', '6', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm telling you this because I don't want to have any secrets from you. I don't wa' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I'm telling you this because I don't want to have any secrets from you. I don't want there to be any lies between us. (turns to face her) Its the secrets people keep that destroy any chance they have of happiness and I don't want us to be like that.', '6', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't will we.They kiss.', '6', 'DONNA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('We won't will we.They kiss.', '6', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's right. What you said yesterday was true. If we don't do everything we can to f' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('We have to do what's right. What you said yesterday was true. If we don't do everything we can to figure out what happened to Laura. It will never go away our whole lives.', '6', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's out there wandering like a restless spirit.CUT TO:EXT. BLACK LAKE - DAYWe view' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('She's out there wandering like a restless spirit.CUT TO:EXT. BLACK LAKE - DAYWe view JAMES and DONNA'S POV of the still waters of Black Lake with trees close to its shoreline.', '6', 'JAMES');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S APARTMENT - DAYWe view GARY, an officer, working on the floor as he sweeps par' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I feel it too. We owe it to her.TUNE ENDS: LOVE THEME FROM TWIN PEAKSCUT TO:INT. JACQUES RENAULT'S APARTMENT - DAYWe view GARY, an officer, working on the floor as he sweeps particles on the floor with a small brush. Another OFFICER walks up to him with a plate full of donuts and hands it to him.', '6', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'go Gary.', '6', 'OFFICER')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('These are fresh. Here ya' go Gary.', '6', 'OFFICER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'go Scott.GARY grabs a donut for himself and then passes the plate to another nea' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Oh thanks. Here ya' go Scott.GARY grabs a donut for himself and then passes the plate to another nearby officer, SCOTT.', '6', 'GARY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'are.SCOTT puts the plate of donuts next to AGENT COOPER, who is working in the k' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Thank you. (grabs a donut for himself) Here ya' are.SCOTT puts the plate of donuts next to AGENT COOPER, who is working in the kitchen. SCOTT walks off but we can still hear him talk in the background as we watch AGENT COOPER grab a donut and take a bite.', '6', 'SCOTT');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S POV of a bunch of photographs taped to the inside panel of the cabinet door. W' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('We view AGENT COOPER'S POV of a bunch of photographs taped to the inside panel of the cabinet door. We see a black and white photograph of two men dressed with suit jackets around their waist and a face painted on their bellies. We still hear the other officers speaking in the background.', '6', 'PHOTOGRAPHS');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S APARTMENT - DAYDEPUTY HAWK enters the kitchen and, standing next to SHERIFF TR' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Hmm, red drapes.TUNE ENDS: NIGHT LIFE IN TWIN PEAKS (0:00 - 0:30)CUT TO:INT. JACQUES RENAULT'S APARTMENT - DAYDEPUTY HAWK enters the kitchen and, standing next to SHERIFF TRUMAN, says ...', '6', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's ad in the magazine. (SHERIFF TRUMAN hands them to him) Let's see if there's so' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Those are the letters responding to Ronette's ad in the magazine. (SHERIFF TRUMAN hands them to him) Let's see if there's something from someone we know. (scans the letters, something catches his eye) Hawk hand me that magazine won't you.', '6', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's and one other. (stops flipping through the pages) Yeah, here it is. (reads the' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Two different ad numbers mailed to the same post office address. Ronette's and one other. (stops flipping through the pages) Yeah, here it is. (reads the ad's accompanying info) Young student requires education in the ways of love only generous, mature men need apply.TUNE: NIGHT LIFE IN TWIN PEAKS (0:00 - 0:30)COOPER pulls out a small magnifying glass from his pocket and looks at the ad's photo.', '6', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S POV of the photograph with a portion magnified through his magnifying glass to' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('We view COOPER'S POV of the photograph with a portion magnified through his magnifying glass to see ...', '6', 'PHOTOGRAPH');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S APARTMENT - DAYCOOPER tosses the magazine he was holding to the countertop and' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Red drapes Harry. From my dream.CUT TO:INT. JACQUES RENAULT'S APARTMENT - DAYCOOPER tosses the magazine he was holding to the countertop and picks up a piece of paper.', '6', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's brother said something about a place up near the state line.', '6', 'HAWK')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Jacques's brother said something about a place up near the state line.', '6', 'HAWK');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 're taking a walk in the woods.CUT TO:EXT. DOUBLE R DINER - DAYUnder darkening sk' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Fellas lets pack a lunch. We're taking a walk in the woods.CUT TO:EXT. DOUBLE R DINER - DAYUnder darkening skies, we view the front of the diner with its neon sign on and a timber truck rig parked with a full load of tree logs.CUT TO:INT. DOUBLE R DINER - DAYWe see HANK JENNINGS bent over the jukebox. He puts a coin in and pushes a button to play a tune from the jukebox.TUNE: COUNTRY #3   52KMADELEINE enters the diner and is called over by JAMES.', '6', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm Madeleine Ferguson. My friends call me Mady. This is really nice of you guys. ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(to DONNA) Hi. I'm Madeleine Ferguson. My friends call me Mady. This is really nice of you guys. (removes her jacket) I don't really know anybody in town except aunt Sarah and uncle Leland (takes a seat) and the mood at the house you can probably guess isn't that great right now.', '6', 'MADELEINE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't really say a word of this to anyone, not a soul. Not even your aunt or uncle. ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Madeleine, if I said that you can't really say a word of this to anyone, not a soul. Not even your aunt or uncle. Would that be okay with you?', '6', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't prove yet.', '6', 'DONNA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Well I rather not say to much about things we can't prove yet.', '6', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't prove it 'yet'?', '6', 'MADELEINE')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('You said you can't prove it 'yet'?', '6', 'MADELEINE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 're afraid that the truth might never come out or that the person who killed her ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('We loved Laura. We're afraid that the truth might never come out or that the person who killed her might never be caught. We've sworn on her memory not to let that happen.', '6', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'm not really sure but nobody else knew about it. We think she might have left so' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Laura used to talk about a secret hiding place she had somewhere in her house. Maybe in her room. I'm not really sure but nobody else knew about it. We think she might have left something there that could lead us to the killer.', '6', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'll help you.', '6', 'MADELEINE')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('(nods yes) I'll help you.', '6', 'MADELEINE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 've always felt close to her that's why I came here. You know, I didn't really kn' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('The day before she died ... I had a feeling that Laura was in trouble. I've always felt close to her that's why I came here. You know, I didn't really know Laura that well but I feel like I do.JAMES, DONNA and MADELEINE collect their jackets, get up from the booth and head out of the diner.', '6', 'MADELEINE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME   39KAs they leave, we PAN to the booth next to them right behind where ' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('My folks were always telling us how much alike we were.TUNE ENDS: COUNTRY #3   52KTUNE: HANK'S THEME   39KAs they leave, we PAN to the booth next to them right behind where MADELEINE was sitting. HANK is seated there holding his double three domino, drinking coffee and with a newspaper set in front of him. He has been listening in on their conversation. Our POSITION moves so that we can see HANK'S face and still see DONNA, MADELEINE and JAMES leave in the background.', '6', 'MADELEINE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's anything I can do.', '6', 'DONNA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Will you call me if there's anything I can do.', '6', 'DONNA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't think it'll be any problem.', '6', 'MADELEINE')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('I don't think it'll be any problem.', '6', 'MADELEINE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 're like a couple of refuge beauty queens.', '6', 'SHELLY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('We're like a couple of refuge beauty queens.', '6', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't know how really good looking your are Shelly.', '6', 'NORMA')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Oh you don't know how really good looking your are Shelly.', '6', 'NORMA');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S coat.', '6', 'SHELLY')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Well I never felt so glamorous when I chip a nail slinging plates around.Unaware, NORMA and SHELLY nearly walk by HANK. HANK reaches out and grabs NORMA'S coat.', '6', 'SHELLY');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Norma.', '6', 'HANK')' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Hi ya' Norma.', '6', 'HANK');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S THEME   39KTUNE: COUNTRY #3   52KSHELLY pats NORMA'S arm and walks off.', '6',' at line 1")

(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'S POV we view the monitor and see AGENT COOPER dressed in a tuxedo at a Black Ja' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Yes. Very nice. Come over here.MUSIC: WALKING IN THE DARK     32KAUDREY walks towards BLACKIEâ€™S desk. AUDREY notices the video monitor on BLACKIEâ€™S desk.AUDREYâ€™S POV:Through AUDREY'S POV we view the monitor and see AGENT COOPER dressed in a tuxedo at a Black Jack table.BACK TO SCENE:', '8', 'BLACKIE');]
(Background on this error at: https://sqlalche.me/e/14/f405)
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 't realize what is happening until it is too late as she scrambles for the gun bu' at line 1")
[SQL: insert into script (`text` , idepisode, name) VALUES ('Got a trout on the line Hawk. This oneâ€™s a keeper.FADE OUT:FADE IN:INT. ONE-EYED JACKS - NIGHTMUSIC: FRESHLY SQUEEZED (0:26 - 3:48) (SLOW VARIANT)Inside one of the many bedrooms in the building, AUDREY looks at herself in a mirror and adjusts the straps on her lingerie. AUDREY turns her head as she overhears two people in the next room.JOHN (OFF SCREEN)Iâ€™m just going to sit right here, okay.A WOMAN, 52â€™ PICK-UP #3, LAUGHS.52â€™ PICK-UP #3 (OFF SCREEN)Oh come her sweetie.JOHN (OFF SCREEN)Looks like we got all night baby.AUDREY looks the rooms over and moves to take a seat on the bed.DISSOLVE TO:INT. JOHNSON HOUSE - NIGHTAs the last scene FADES OUT we FADE IN on the next scene. In the kitchen, SHELLY JOHNSON picks up a bottle of shampoo from the table and places it by the sink. SHELLY places a folded yellow bath towel near the sink and a handgun beside it. At the kitchen sink, SHELLY begins to wash her hair.MUSIC ENDS: FRESHLY SQUEEZED (0:26 - 3:48) (SLOW VARIANT)MUSIC: LAURA PALMERâ€™S THEME    SHELLY has worked up a thick lather in her hair but as she works it in her hair she rubs some of the soap into her right eye. The soap stings. SHELLY canâ€™t wipe her eyes with her hands covered in soapy lather. Blindly, SHELLY reaches to the side for the bath towel.MUSIC ENDS: LAURA PALMERâ€™S THEME    CLOSE ON: COUNTERTOPWe FOCUS on a CLOSE-UP of the countertop where the towel lays as SHELLY reaches over to grab it but the towel is slowly being pulled away from her reach. SHELLY is being drawn away from the handgun. SHELLY doesn't realize what is happening until it is too late as she scrambles for the gun but her hand is grabbed and pulled away.BACK TO SCENE:LEO JOHNSON moves behind SHELLY and puts his other hand over her mouth. SHELLY canâ€™t yell or escape. SHELLY cries into his hands as LEO yells.', '8', 'COOPER');]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [26]:
#checking a special case where "%" character was breaking the esecuele insertion
df["text"].iloc[206]

'Good to meet you.COOPER clears his throat and they both proceed to walk up the hall.'