In [123]:
import pandas as pd
import sqlalchemy as sqlalc
from getpass import getpass
import re
from sqlalchemy import exc

In [97]:
df = pd.read_csv("twin_peaks_df.csv")
df

,name,text,episode,season
0,LOG LADY,Welcome to Twin Peaks. My name is Margaret Lan...,1,1
1,PETE,Gone fishing.He raps his knuckles on the count...,1,1
2,PETE,"A lonesome foghorn blows.He stops walking, tur...",1,1
3,PETE,"Oh dear. Lucy, Lucy this is Pete Martell. Lucy...",1,1
4,LUCY,Sheriff its Pete Martell up at the mill. I''m ...,1,1
...,...,...,...,...
2986,COOPER,"Diane, 4:37 am. After a long investigative nig...",8,1
2987,COOPER,As you can hear from the ambient sound around ...,8,1
2988,COOPER,My special agent.The telephone RINGS. COOPER w...,8,1
2989,COOPER,Cooper here. (reply) Who is this? (reply) Coul...,8,1
2990,COOPER,Please excuse me I got room service.COOPER pla...,8,1

In [120]:
def connect_engine(password):
    dbName = "twin_peaks"
    connection_data = f"mysql+pymysql://root:{password}@localhost/{dbName}"
    engine = sqlalc.create_engine(connection_data)
    return engine

In [45]:
password = getpass("Insert your password here: ")

Insert your password here: ········

In [124]:
engine = connect_engine(password)

In [49]:
list(engine.execute("SELECT * FROM actor"))

[(1, 'LOG LADY'),
 (2, 'JERRY'),
 (3, 'BENJAMIN'),
 (4, 'SYLVIA'),
 (5, 'JAMES'),
 (6, 'EILEEN'),
 (7, 'DONNA'),
 (8, 'SWABBIE'),
 (9, 'BARTENDER'),
 (10, 'BLACKIE'),
 (11, 'COOPER'),
 (12, 'HAWK'),
 (13, 'NOTE'),
 (14, 'BOBBY'),
 (15, 'MIKE'),
 (16, 'LEO'),
 (17, 'NADINE'),
 (18, 'BIG ED'),
 (19, 'SHERIFF TRUMAN'),
 (20, 'ANNOUNCER'),
 (21, 'SHELLY'),
 (22, 'NORMA'),
 (23, 'ANDY'),
 (24, 'LUCY'),
 (25, 'EVERYONE'),
 (26, 'AUDREY'),
 (27, 'ALBERT'),
 (28, 'FRIEND'),
 (29, 'CATHERINE'),
 (30, 'PETE'),
 (31, 'JOSIE'),
 (32, 'SARAH'),
 (33, 'LELAND'),
 (34, 'BOB'),
 (35, 'LITTLE MAN'),
 (36, 'BEAUTIFUL WOMAN'),
 (37, 'TRUDY'),
 (38, 'JARED'),
 (39, 'MADELEINE'),
 (40, 'JADE'),
 (41, 'MOONIE'),
 (42, 'MAJOR BRIGGS'),
 (43, 'BETTY'),
 (44, 'JOHNNY'),
 (45, 'REVEREND CLARENCE'),
 (46, 'BERNARD'),
 (47, 'JACQUES'),
 (48, 'COUPLE I'),
 (49, 'COUPLE II'),
 (50, 'MAX'),
 (51, 'JULIE'),
 (52, 'HEIDI'),
 (53, 'ALICE'),
 (54, 'TERRY'),
 (55, 'MARTHA'),
 (56, 'POLICE OFFICER'),
 (57, 'MILL WORKER'),
 (58, 'ENGINEER'),
 (59, 'RONETTE'),
 (60, 'GILMAN'),
 (61, 'ELECTRONIC NOTEBOOK'),
 (62, 'SVEN'),
 (63, 'TELEVISION'),
 (64, 'CONCIERGE'),
 (65, 'NURSE'),
 (66, 'MARGARET'),
 (67, 'MAYOR'),
 (68, 'HARRIET'),
 (69, 'FEMALE SINGER'),
 (70, 'JOEY'),
 (71, 'SCOTTY'),
 (72, 'LAURA'),
 (73, 'SUBURBIS'),
 (74, 'JANEK'),
 (75, 'EMERALD'),
 (76, 'CHET'),
 (77, 'GORDON'),
 (78, 'MONTANA'),
 (79, 'HANK'),
 (80, 'RECEPTIONIST'),
 (81, 'PHOTOGRAPH'),
 (82, 'FLESHWORLD MAGAZINE'),
 (83, 'EMORY'),
 (84, 'OFFICER'),
 (85, 'GARY'),
 (86, 'SCOTT'),
 (87, 'PHOTOGRAPHS'),
 (88, 'RAVEN'),
 (89, 'SONG LYRICS'),
 (90, 'POKER CHIP'),
 (91, 'HOSTESS'),
 (92, 'HEBA'),
 (93, 'GROUP'),
 (94, 'CUSTOMER'),
 (95, 'JENNY'),
 (96, 'INSURANCE DOCUMENT'),
 (97, 'WALDO'),
 (98, 'FRED'),
 (99, 'PHONE'),
 (100, 'INTERCOM'),
 (101, 'COWORKER'),
 (102, 'OLD LADY')]

In [60]:
-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema twin_peaks
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema twin_peaks
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `twin_peaks` DEFAULT CHARACTER SET utf8 ;
USE `twin_peaks` ;

-- -----------------------------------------------------
-- Table `twin_peaks`.`name`
-- -----------------------------------------------------
DROP TABLE IF EXISTS `twin_peaks`.`name` ;

CREATE TABLE IF NOT EXISTS `twin_peaks`.`name` (
  `idname` INT NOT NULL AUTO_INCREMENT,
  `name` VARCHAR(45) NULL,
  PRIMARY KEY (`idname`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `twin_peaks`.`episode`
-- -----------------------------------------------------
DROP TABLE IF EXISTS `twin_peaks`.`episode` ;

CREATE TABLE IF NOT EXISTS `twin_peaks`.`episode` (
  `idepisode` INT NOT NULL AUTO_INCREMENT,
  `number` VARCHAR(45) NOT NULL,
  `season` VARCHAR(45) NULL,
  PRIMARY KEY (`idepisode`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `twin_peaks`.`script`
-- -----------------------------------------------------
DROP TABLE IF EXISTS `twin_peaks`.`script` ;

CREATE TABLE IF NOT EXISTS `twin_peaks`.`script` (
  `idtext` INT NOT NULL AUTO_INCREMENT,
  `text` LONGTEXT NOT NULL,
  `idepisode` INT NULL,
  `idname` INT NULL,
  PRIMARY KEY (`idtext`),
  INDEX `idname_idx` (`idname` ASC) VISIBLE,
  INDEX `idepisode_idx` (`idepisode` ASC) VISIBLE,
  CONSTRAINT `idname`
    FOREIGN KEY (`idname`)
    REFERENCES `twin_peaks`.`name` (`idname`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `idepisode`
    FOREIGN KEY (`idepisode`)
    REFERENCES `twin_peaks`.`episode` (`idepisode`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;

SyntaxError: invalid syntax (2996577428.py, line 1)

In [50]:
def check (something, string):
    
    if something == "actor":
        query = list(engine.execute(f"SELECT name FROM actor WHERE name = '{string}';"))
        if len(query) > 0:
            return True
        else:
            return False
        
    if something == "episode":
        query = list(engine.execute(f"SELECT number FROM episode WHERE name = '{string}';"))
        if len(query) > 0:
            return True
        else:
            return False

In [51]:
def insertActor (actor_name):
    if check("actor", actor_name):
        return "It already exists"
    else:
        engine.execute(f"INSERT INTO actor (name) VALUES ('{actor_name}');")

In [100]:
def insertScript (script, idepisode, idname):
    queryString = f"insert into script (`text` , idepisode, name) VALUES ('{script}', '{idepisode}', '{idname}');"
    #print(queryString)
    engine.execute(queryString)

In [66]:
def insertEpisode (number,season):
    engine.execute(f"INSERT INTO episode (number, season) VALUES ('{number}','{season}');")

In [74]:
df.shape

(2991, 4)

In [56]:
for index, row in df.iterrows():
    insertActor (row["name"])

In [67]:
episodes = df["episode"].unique()
episodes

array([1, 2, 3, 4, 5, 6, 7, 8], dtype=int64)

In [68]:
for i in episodes:
    insertEpisode (i ,"1")

In [101]:
for index, row in df.iterrows():
    try:
        insertScript(row["text"],row["episode"],row["name"] )
        #print(row["text"])
    except exc.SQLAlchemyError as e:
        print(e)

In [90]:
df["text"].iloc[206]

'Good to meet you.COOPER clears his throat and they both proceed to walk up the hall.'